<div>
    <span class="padding-bottom-0"><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</span>
    
    <div layout="row">
        <br />
        <input ng-show="!post.postImages.length" type="file" nv-file-select="" multiple uploader="uploader" /><br />
        <br />

        <div class="col-md-9" style="margin-bottom: 40px" ng-show="uploader.queue.length > 0">
            <table md-table class="table">
                <thead md-head>
                    <tr md-row>
                        <th md-column width="50%">Ime slike</th>
                        <th md-column ng-show="uploader.isHTML5">Velčina</th>
                        <th md-column ng-show="uploader.isHTML5">Progres %</th>
                        <th md-column>Status</th>
                        <th md-column></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="item in uploader.queue">
                        <td md-cell><strong>{{ item.file.name }}</strong></td>
                        <td md-cell ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td md-cell ng-show="uploader.isHTML5">
                            <div class="progress" ng-show="item.progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                            <span ng-show="!item.progress">-</span>
                        </td>
                        <td md-cell class="text-center">
                            <span ng-show="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                            <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                            <span ng-show="item.isError"><i class="fa fa-ban" aria-hidden="true"></i></span>
                            <span ng-show="!item.isError && !item.isCancel && !item.isSuccess">-</span>
                        </td>
                        <td md-cell nowrap>
                            <md-button type="button" aria-label="Delete" class="md-raised" ng-click="item.remove()">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <div>
                    <md-progress-linear md-mode="determinate" value="{{uploader.progress}}"></md-progress-linear>
                </div>
            </div>
        </div>
    </div>
</div>
