<div>
    <span class="padding-bottom-0"><i class="fa fa-database" aria-hidden="true"></i> Blog postovi</span>
    <div layout="row">
        <form novalidate flex layout="row" ng-submit="search()">
            <md-input-container flex>
                <label>Pretraži postove</label>
                <input type="text" autocomplete="off" ng-disabled="!totalItems && !params.searchTerm" ng-model="params.searchTerm" ng-change="search()">
            </md-input-container>
            <md-button class="md-fab md-mini" type="submit" ng-disabled="!totalItems && !params.searchTerm" aria-label="Pretraži">
                <i class="fa fa-search"></i>
            </md-button>
            <md-input-container class="no">
                <md-button class="md-raised md-primary" type="button" ng-click="openModal($event)" aria-label="Add">
                    Dodaj
                </md-button>
            </md-input-container>
        </form>
    </div>
    <md-table-container ng-show="totalItems > 0">
        <table md-table md-progress="promise">
            <thead md-head md-order="params.sort" md-on-reorder="onReorder">
                <tr md-row>
                    <th md-column md-order-by="date">Datum</th>
                    <th md-column md-order-by="title">Naslov</th>
                    <th md-column>Vidljiv</th>
                    <th md-column></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="post in posts track by $index">
                    <td md-cell ng-bind="post.date | correctedDate"></td>
                    <td md-cell ng-bind="post.title"></td>
                    <td md-cell>
                        <md-switch ng-model="post.active" ng-change="toggleActive(post)" aria-label="Switch 1"></md-switch>
                    </td>
                    <td md-cell text-right>
                        <md-menu class="procedure-dropdown" md-position-mode="target-right target">
                            <a href="javascript:;" ng-click="$mdOpenMenu($event)">
                                <md-icon md-menu-origin md-font-icon="fa fa-caret-down"></md-icon>
                            </a>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button aria-label="Edit" ng-click="openModal($event, post)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Izmeni
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button aria-label="Remove" ng-click="removeModal($event, post)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> Obriši
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <h4 ng-show="!loading && !totalItems && !params.searchTerm" class="text-center">Trenutno nemate postova u bazi podataka.</h4>
    <h4 ng-show="params.searchTerm && totalItems == 0" class="text-center">Trenutno nema rezultata za zadatu pretragu.</h4>
    <md-table-pagination ng-if="totalItems > 0" 
                         md-options="[10, 20, 30]" 
                         md-limit="params.pageSize" 
                         md-page="params.pageNumber" 
                         md-total="{{totalItems}}" 
                         md-on-paginate="onPaginate" 
                         md-page-select></md-table-pagination>
</div>
