<md-dialog aria-label="Modal" flex>
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Prevedi post</h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa" md-font-icon="fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row">
                    <md-input-container flex>
                        <label>Naslov</label>
                        <input ng-model="post.englishTitle" required type="text">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div text-angular required class="content-text" aria-label="Content" ng-model="post.englishContent"></div>
                </div>
                <br />
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="button" class="md-raised" ng-click="cancel()">Nazad</md-button>
            <md-button type="submit" ng-click="translate()" class="md-raised md-primary" ng-disabled="form.$invalid">Sačuvaj</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
