<div class="actualities-page">
    <section class="ivent-calendar" dir-paginate="post in posts | itemsPerPage: params.pageSize" total-items="totalCount" current-page="params.pageNumber" ng-class="{ 'rotate-element' : $odd}">
        <div class="calendar">
            <div class="date" ng-bind="post.dateDay" animation-settings="headlineAnimation" scroll-trigger></div>
            <div class="month" ng-bind="post.dateMonth" animation-settings="headlineAnimation" scroll-trigger></div>
        </div>
        <div class="calendar-news">
            <div class="title" ng-bind="post.title" animation-settings="bodyTextAnimation" scroll-trigger></div>
            <div class="content" ng-bind-html="post.content.substring(0, 300) + '...'" animation-settings="bodyTextAnimation" scroll-trigger></div>
            <div class="read-more-box flex" ng-click="showNewsPopUp(post)" animation-settings="bodyTextAnimation" scroll-trigger>
                <div class="vertical-line"></div>
                <div class="read-more">прочитај још</div>
                <div class="vertical-line"></div>
            </div>
        </div>
        <div ng-if="post.postImages.length > 0" animation-settings="fadeInAnimation" scroll-trigger>
            <div class="calendar-img" ng-style="{'background-image':'url(' + post.imageUrl + ')'}"></div>
        </div>
        <div class="default-news-img" ng-show="!post.postImages.length" animation-settings="fadeInAnimation" scroll-trigger></div>
    </section>

    <dir-pagination-controls max-size="10"
                             on-page-change="pageChanged(newPageNumber)">
    </dir-pagination-controls>

    <div class="news-popup open-menu" ng-if="postPreview" set-height>
        <div class="back-arrow-black" ng-click="showNewsPopUp()"></div>
        <div class="flex popup-content">
            <div ng-if="postPreview.imageUrl" animation-settings="fadeInAnimation" scroll-trigger>
                <div class="calendar-img" ng-style="{'background-image':'url(' + postPreview.imageUrl + ')'}"></div>
            </div>
            <div class="default-news-img" ng-if="!postPreview.imageUrl" animation-settings="fadeInAnimation" scroll-trigger></div>
            <div class="calendar">
                <div class="date" ng-bind="postPreview.dateDay" animation-settings="headlineAnimation" scroll-trigger></div>
                <div class="month" ng-bind="postPreview.dateMonth" animation-settings="headlineAnimation" scroll-trigger></div>
            </div>
            <div class="all-text">
                <div class="title" ng-bind="postPreview.title" animation-settings="bodyTextAnimation" scroll-trigger></div>
                <div class="content" ng-bind-html="postPreview.content" animation-settings="bodyTextAnimation" scroll-trigger></div>
            </div>
            <div class="stamp-big"></div>
        </div>
    </div>
</div>