<div class="home-page">
    <section class="welcome">
        <div class="default-wrapper">
            <div class="stamp-title">
                <h3 class="center">Добро Дошли</h3>
                <h5 class="center">Винарија Ђорђе</h5>
            </div>
            <div class="content">
                <p>
                    На југу Балкана, између Дунава и Карпата, простире се Делиблатска пешчара, заштићено прибежиште за
                    многе врсте биљака и животиња и значајан генетски ресусрс наше планете.
                </p>
                <p>
                    У оквиру овог, лепог и веома интересантног природног амбијента настала је Винарија ЂОРЂЕ, породични
                    подрум лоциран на северно-западном ободу Делиблатске пешчаре, у оквиру насеља Девојачки бунар.
                </p>
                <p>
                    Специфични микроклиматски услови, песковито земљиште изузетних минералних карактеристика и наша преданост у
                    узгоју винограда обезбеђују огроман потенцијал за производњу вина врхунског квалитета.
                </p>
                <p>
                    Наш циљ је да благородни потенцијал Делиблатске пешчаре преточимо у врхунска вина која ће имати специфични
                    карактер овог поднебља.
                </p>
            </div>
        </div>
    </section>

    <section class="red-wine flex">
        <div class="bottle">
            <div class="bottle-img freska"></div>
        </div>
        <div class="description">
            <div class="descr-part">
                <h3><span>Црвена</span> Вина</h3>
                <div class="flex">
                    <div class="red-line"></div>
                    <div class="type">Фреска</div>
                </div>
                <div class="flex">
                    <div class="red-line"></div>
                    <div class="type">Португизер</div>
                </div>
                <button class="black-btn" ui-sref="layout.red-wines">види још</button>
            </div>
        </div>
    </section>

    <section class="white-wine flex">
        <div class="description">
            <div class="descr-part">
                <h3><span>Бела</span> Вина</h3>
                <div class="flex types">
                    <div class="type">ФРЕСКА БЕЛА</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">ШАРДОНЕ</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">ТРАМИНАЦ МИРИСНИ</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">СОВИЊОН БЕЛИ</div>
                    <div class="red-line"></div>
                </div>
                <button class="black-btn" ui-sref="layout.white-wines">види још</button>
            </div>
        </div>
        <div class="bottle">
            <div class="bottle-img freska-white"></div>
        </div>
    </section>

    <section class="home-bck1"></section>

    <section class="hover-section">
        <slick-carousel class="responsive flex">
            <div class="first-img" ui-sref="layout.wines" style="cursor: pointer;">
                <div class="news">
                    <div class="news-title">Вина</div>
                    <div class="news-content">
                        Погледајте актуелни асортиман наших вина са детаљним описима и предлозима за упаривање са храном.
                    </div>
                    <div class="flex">
                        <div class="view-more">види још</div>
                        <div class="more-arrow"></div>
                    </div>
                </div>
            </div>
            <div class="second-img" ui-sref="layout.winery" style="cursor: pointer;">
                <div class="news">
                    <div class="news-title">Винарија</div>
                    <div class="news-content">
                        Идеја за озбиљну породичну винарију родила се 2010. године.
                        Већ наредне године смо почели са...
                    </div>
                    <div class="flex">
                        <div class="view-more">види још</div>
                        <div class="more-arrow"></div>
                    </div>
                </div>
            </div>
            <div class="third-img" ui-sref="layout.vineyards" style="cursor: pointer;">
                <div class="news">
                    <div class="news-title">Виногради</div>
                    <div class="news-content">
                        Винарија ЂОРЂЕ своја вина производи искључиво од грожђа пореклом
                        из сопствених ...
                    </div>
                    <div class="flex">
                        <div class="view-more">види још</div>
                        <div class="more-arrow"></div>
                    </div>
                </div>
            </div>
            <div class="fourth-img" ui-sref="layout.visit-winery" style="cursor: pointer;">
                <div class="news">
                    <div class="news-title">Посета винарији</div>
                    <div class="news-content">
                        Винарија ЂОРЂЕ је смештена у прелепом природном амбијенту
                        познатог викенд насеља Девојачки...
                    </div>
                    <div class="flex">
                        <div class="view-more">види још</div>
                        <div class="more-arrow"></div>
                    </div>
                </div>
            </div>
            <div class="fifth-img" ui-sref="layout.actualities" style="cursor: pointer;">
                <div class="news">
                    <div class="news-title">Актуелности</div>
                    <div class="news-content">
                        Прво учешће Винарије ЂОРЂЕ на "International Wine Challenge AWC VIENNA" донело нам је и прву медаљу!
                    </div>
                    <div class="flex">
                        <div class="view-more">види још</div>
                        <div class="more-arrow"></div>
                    </div>
                </div>
            </div>
        </slick-carousel>
    </section>

    <section class="slider-home-page">
        <div class="prev-arrow"></div>
        <div class="next-arrow"></div>
        <slick-carousel prev-arrow="prev-arrow" next-arrow="next-arrow" set-height>
            <div set-height ng-repeat="image in gallery">
                <div class="home-slider" ng-style="{'background-image':'url(' + contentAddress + '\\Gallery' + '/' + image.filePath + ')'}"></div>
            </div>
        </slick-carousel>
    </section>

    <section class="ivent-calendar">
        <div class="calendar-list">
            <div class="number" ng-repeat="post in posts track by $index" ng-click="selectPost(post, $index)" ng-class="{ 'active-post' : $index == activeIndex}">
                <div class="active-box">
                    <a href="javascript:;" ng-bind="$index + 1"></a>
                </div>
            </div>
        </div>
        <div class="calendar left">
            <div class="date" ng-bind="selectedPost.dateDay"></div>
            <div class="month" ng-bind="selectedPost.dateMonth">апр</div>
        </div>
        <div class="calendar-news left">
            <div class="title" ng-bind="selectedPost.title"></div>
            <div class="content" ng-bind-html="selectedPost.content.substring(0, 300) + '...'"></div>
            <div class="read-more-box flex" ui-sref="layout.actualities">
                <div class="vertical-line"></div>
                <div class="read-more">прочитај још</div>
                <div class="vertical-line"></div>
            </div>
        </div>
        <div ng-if="selectedPost.imageUrl">
            <div class="calendar-img" ng-style="{'background-image':'url(' + selectedPost.imageUrl + ')'}"></div>
        </div>
        <div class="default-news-img" ng-if="!selectedPost.imageUrl" />
    </section>
</div>