<div class="home-page">
    <section class="welcome">
        <div class="default-wrapper">
            <div class="stamp-title">
                <h3 class="center">Добро Дошли</h3>
                <h5 class="center">Винарија Ђорђе</h5>
            </div>
            <div class="content">
                <p>
                    На југу Балкана, између Дунава и Карпата, простире се Делиблатска пешчара, заштићено прибежиште за
                    многе врсте биљака и животиња и значајан генетски ресусрс наше планете.
                </p>
                <p>
                    У оквиру овог, лепог и веома интересантног природног амбијента настала је Винарија ЂОРЂЕ, породични
                    подрум лоциран на северно-западном ободу Делиблатске пешчаре, у оквиру насеља Девојачки бунар.
                </p>
                <p>
                    Специфични микроклиматски услови, песковито земљиште изузетних минералних карактеристика и наша преданост у
                    узгоју винограда обезбеђују огроман потенцијал за производњу вина врхунског квалитета.
                </p>
                <p>
                    Наш циљ је да благородни потенцијал Делиблатске пешчаре преточимо у врхунска вина која ће имати специфични
                    карактер овог поднебља.
                </p>
            </div>
        </div>
    </section>

    <section class="red-wine flex">
        <div class="bottle">
            <div class="bottle-img"></div>
        </div>
        <div class="description">
            <div class="descr-part">
                <h3>Црвена Вина</h3>
                <div class="flex">
                    <div class="red-line"></div>
                    <div class="type">Фреска</div>
                </div>
                <div class="flex">
                    <div class="red-line"></div>
                    <div class="type">   Португизер</div>
                </div>
                <button class="black-btn">види још</button>
            </div>
        </div>
    </section>

    <section class="white-wine flex">
        <div class="description">
            <div class="descr-part">
                <h3>Бела Вина</h3>
                <div class="flex types">
                    <div class="type">ФРЕСКА БЕЛА</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">ШАРДОНЕ</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">ТРАМИНАЦ МИРИСНИ</div>
                    <div class="red-line"></div>
                </div>
                <div class="flex types">
                    <div class="type">СОВИЊОН БЕЛИ</div>
                    <div class="red-line"></div>
                </div>
                <button class="black-btn">види још</button>
            </div>
        </div>
        <div class="bottle">
            <div class="bottle-img"></div>
        </div>
    </section>

    <section class="home-bck1"></section>

    <section class="hover-section flex">
        <div class="first-img">
            <div class="news">
                <div class="news-title">Вина</div>
                <div class="news-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's
                </div>
                <div class="flex">
                    <div class="view-more" ui-sref="layout.wines">види још</div>
                    <div class="more-arrow"></div>
                </div>
            </div>
        </div>
        <div class="second-img">
            <div class="news">
                <div class="news-title">Винарија</div>
                <div class="news-content">
                    Идеја за озбиљну породичну винарију родила се 2010. године.
                    Већ наредне године смо почели са...
                </div>
                <div class="flex">
                    <div class="view-more" ui-sref="layout.winery">види још</div>
                    <div class="more-arrow"></div>
                </div>
            </div>
        </div>
        <div class="third-img">
            <div class="news">
                <div class="news-title">Виногради</div>
                <div class="news-content">
                    Винарија ЂОРЂЕ своја вина производи искључиво од грожђа пореклом
                    из сопствених ...
                </div>
                <div class="flex">
                    <div class="view-more" ui-sref="layout.vineyards">види још</div>
                    <div class="more-arrow"></div>
                </div>
            </div>
        </div>
        <div class="fourth-img">
            <div class="news">
                <div class="news-title">Посета винарији</div>
                <div class="news-content">
                    Винарија ЂОРЂЕ је смештена у прелепом природном амбијенту
                    познатог викенд насеља Девојачки...
                </div>
                <div class="flex">
                    <div class="view-more" ui-sref="layout.visit-winery">види још</div>
                    <div class="more-arrow"></div>
                </div>
            </div>
        </div>
        <div class="fifth-img">
            <div class="news">
                <div class="news-title">Актуелности</div>
                <div class="news-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's
                </div>
                <div class="flex">
                    <div class="view-more" ui-sref="layout.actualities">види још</div>
                    <div class="more-arrow"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="slider-home-page">
        <div class="prev-arrow"></div>
        <div class="next-arrow"></div>
        <slick-carousel prev-arrow="prev-arrow" next-arrow="next-arrow">
            <div class="home-slider first"></div>
            <div class="home-slider second"></div>
            <div class="home-slider third"></div>
        </slick-carousel>
    </section>

    <section class="ivent-calendar">
        <div class="calendar-list">
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
            <div class="number">4</div>
            <div class="number">5</div>
            <div class="number">6</div>
        </div>
        <div class="calendar left">
            <div class="date">01</div>
            <div class="month">апр</div>
        </div>
        <div class="calendar-news left">
            <div class="title">Представљање на винској илегали</div>
            <div class="content">
                На југу Балкана, између Дунава и Карпата, простире се Делиблатска
                пешчара, заштићено прибежиште за многе врсте биљака и животиња и
                значајан генетски ресусрс наше планете.
            </div>
            <div class="read-more-box flex">
                <div class="vertical-line"></div>
                <div class="read-more">прочитај још</div>
                <div class="vertical-line"></div>
            </div>
        </div>
        <div class="calendar-img right"></div>
    </section>
</div>