<section class="intro" set-height ng-if="!$state.includes('layout.wines') && !$state.includes('layout.red-wines') && !$state.includes('layout.white-wines')">
    <img class="main-logo" src="../assets/images/logo.svg" scroll-to-section section-to-scroll="home-page" time="5000" state="layout.home" />
    <img class="logo-headline" src="../assets/images/headline-logo.png" />

    <slick-carousel dots="true" class="how-it-works-slider" set-height>
        <div class="slide first" set-height></div>
        <div class="slide second" set-height></div>
        <div class="slide third" set-height></div>
        <div class="slide fourth" set-height></div>
        <div class="slide fifth" set-height></div>
        <div class="slide sixth" set-height></div>
    </slick-carousel>

    <nav>
        <ul>
            <li class="flex" ng-class="{'selected' : $state.includes('layout.home')}">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="home-page" time="5000" state="layout.home">почетна</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a ui-sref="layout.wines">вина</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="winery-page" time="5000" state="layout.winery">винарија</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="vineyards-page" time="5000" state="layout.vineyards">виногради</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="visit-winery-page" time="5000" state="layout.visit-winery">посета винарији</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="actualities-page" time="5000" state="layout.actualities">актуелности</a>
            </li>
            <li class="flex">
                <div class="grey-line"></div>
                <a scroll-to-section section-to-scroll="territory-page" time="5000" state="layout.territory">делиблатска пешчара</a>
            </li>
        </ul>
    </nav>
</section>

<div ui-view></div>

<section class="footer" ng-show="!$state.includes('layout.wines') && !$state.includes('layout.red-wines') && !$state.includes('layout.white-wines')">
    <div class="footer-container flex">
        <div>
            <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
                <img class="" src="../assets/images/logo.svg" />
            </a>
            <div class="social-icons flex">
                <div class="facebook"></div>
                <div class="twitter"></div>
                <div class="vine"></div>
                <div class="linkedIn"></div>
                <div class="instagram"></div>
            </div>
        </div>

        <div class="pages">
            <p>странице</p>
            <div class="pages-container flex">
                <div class="first-colum">
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="home-page" time="5000" state="layout.home">почетна</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ui-sref="layout.wines">вина</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="winery-page" time="5000" state="layout.winery">винарија</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="vineyards-page" time="5000" state="layout.vineyards">виногради</a>
                    </div>
                </div>
                <div class="second-colum">
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="visit-winery-page" time="5000" state="layout.visit-winery">посета винарији</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="actualities-page" time="5000" state="layout.actualities">актуелности</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" scroll-to-section section-to-scroll="territory-page" time="5000" state="layout.territory">делиблатска пешчара</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info">
            <p>контакт</p>
            <div class="title">позовите</div>
            <div class="flex contact-box">
                <div class="call-img"></div>
                <a href="tel:+381603813054" class="info">+381 (0)60 3813054</a>
            </div>

            <div class="title">пошаљите</div>
            <div class="flex contact-box">
                <div class="email-img"></div>
                <a href="mailto:vinarijadjordje@hotmail.com" class="info">vinarijadjordje@hotmail.com</a>
            </div>

            <div class="title">пронађите нас</div>
            <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
                <div class="flex contact-box">
                    <div class="map-pin"></div>
                    <div class="info">Прикажи путању</div>
                </div>
            </a>
        </div>

        <div class="contact-form" ng-form="contactForm">
            <p>контакт</p>
            <input type="text"
                   placeholder="Ваше име"
                   name="name"
                   ng-model="message.name"
                   required />
            <input type="text"
                   placeholder="Ваш емаил"
                   name="email"
                   ng-model="message.email"
                   required />
            <textarea type="text"
                      placeholder="Ваша порука"
                      name="message"
                      ng-model="message.body"
                      required />
            <button class="send-btn flex" ng-disabled="contactForm.$invalid" ng-click="contact()">
                <div class="send-text">Пошаљи</div>
                <div class="send-img"></div>
            </button>
        </div>
    </div>

    <div class="copyright center">© {{date | date:'yyyy'}} Сва права задржана - Винарија Ђорђе</div>
</section>