<div class="loader-overlay" ng-if="homeLoader">
    <div class="loader">
        <div class="loader-gif"></div>
    </div>
</div>
<section class="intro" set-height ng-if="!$state.includes('layout.wines') && !$state.includes('layout.red-wines') && !$state.includes('layout.white-wines') && !$state.includes('layout.gallery')">
    <img class="main-logo" src="../assets/images/logo.svg" ui-sref="layout.home" />
    <img class="logo-headline" src="../assets/images/headline-logo.png" animation-settings="fadeInAnimation" scroll-trigger />

    <slick-carousel dots="true" id="active-header-img" set-height>
        <div class="slide first" set-height></div>
        <div class="slide second" set-height></div>
        <div class="slide third" set-height></div>
        <div class="slide fourth" set-height></div>
        <div class="slide fifth" set-height></div>
        <div class="slide sixth" set-height></div>
        <div class="slide seventh" set-height></div>
    </slick-carousel>

    <div class="scroll-down">
        <div class="empty-circle">
            <div class="full-circle"></div>
        </div>
        <div class="text">Скролуј доле</div>
        <div class="vertical-line"></div>
    </div>

    <nav>
        <ul>
            <li class="flex" ui-sref="layout.home" ng-click="goToSlide(1)" ng-class="{'selected' : $state.includes('layout.home')}">
                <div class="grey-line"></div>
                <a>почетна</a>
            </li>
            <li class="flex" ui-sref="layout.wines" ng-class="{'selected' : $state.includes('layout.wines')}">
                <div class="grey-line"></div>
                <a>вина</a>
            </li>
            <li class="flex" ui-sref="layout.winery" ng-click="goToSlide(2)" ng-class="{'selected' : $state.includes('layout.winery')}">
                <div class="grey-line"></div>
                <a>винарија</a>
            </li>
            <li class="flex" ui-sref="layout.vineyards" ng-click="goToSlide(5)" ng-class="{'selected' : $state.includes('layout.vineyards')}">
                <div class="grey-line"></div>
                <a>виногради</a>
            </li>
            <li class="flex" ui-sref="layout.visit-winery" ng-click="goToSlide(0)" ng-class="{'selected' : $state.includes('layout.visit-winery')}">
                <div class="grey-line"></div>
                <a>посета винарији</a>
            </li>
            <li class="flex" ui-sref="layout.actualities" ng-click="goToSlide(4)" ng-class="{'selected' : $state.includes('layout.actualities')}">
                <div class="grey-line"></div>
                <a>актуелности</a>
            </li>
            <li class="flex" ui-sref="layout.territory" ng-click="goToSlide(3)" ng-class="{'selected' : $state.includes('layout.territory')}">
                <div class="grey-line"></div>
                <a>делиблатска пешчара</a>
            </li>
            <li class="flex" ui-sref="layout.gallery" ng-class="{'selected' : $state.includes('layout.gallery')}">
                <div class="grey-line"></div>
                <a>Галерија</a>
            </li>
        </ul>
    </nav>

    <div class="hamburger-menu-mobile">
        <div ng-show="hamburgerMenu" class="menu-nav-overlay" ng-click="showMenu()"></div>
        <nav class="hamburger-nav-mobile">
            <div class="hamburger-container" ng-class="{'open-menu': hamburgerMenu}" set-height>
                <ul ng-click="showMenu()">
                    <li class="flex" ui-sref="layout.home" ng-click="goToSlide(1)" ng-class="{'selected' : $state.includes('layout.home')}">
                        <div class="grey-line"></div>
                        <a>почетна</a>
                    </li>
                    <li class="flex" ui-sref="layout.wines" ng-class="{'selected' : $state.includes('layout.wines')}">
                        <div class="grey-line"></div>
                        <a>вина</a>
                    </li>
                    <li class="flex" ui-sref="layout.winery" ng-click="goToSlide(2)" ng-class="{'selected' : $state.includes('layout.winery')}">
                        <div class="grey-line"></div>
                        <a>винарија</a>
                    </li>
                    <li class="flex" ui-sref="layout.vineyards" ng-click="goToSlide(5)" ng-class="{'selected' : $state.includes('layout.vineyards')}">
                        <div class="grey-line"></div>
                        <a>виногради</a>
                    </li>
                    <li class="flex" ui-sref="layout.visit-winery" ng-click="goToSlide(0)" ng-class="{'selected' : $state.includes('layout.visit-winery')}">
                        <div class="grey-line"></div>
                        <a>посета винарији</a>
                    </li>
                    <li class="flex" ui-sref="layout.actualities" ng-click="goToSlide(4)" ng-class="{'selected' : $state.includes('layout.actualities')}">
                        <div class="grey-line"></div>
                        <a>актуелности</a>
                    </li>
                    <li class="flex" ui-sref="layout.territory" ng-click="goToSlide(3)" ng-class="{'selected' : $state.includes('layout.territory')}">
                        <div class="grey-line"></div>
                        <a>делиблатска пешчара</a>
                    </li>
                    <li class="flex" ui-sref="layout.gallery" ng-class="{'selected' : $state.includes('layout.gallery')}">
                        <div class="grey-line"></div>
                        <a>Галерија</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="hamburger-btn" ng-click="showMenu()" ng-class="{'open': hamburgerMenu}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="label">Мени</div>
    </div>
</section>

<div ui-view></div>

<section class="footer" ng-show="!$state.includes('layout.wines') && !$state.includes('layout.red-wines') && !$state.includes('layout.white-wines') && !$state.includes('layout.gallery')">
    <div class="footer-container flex">
        <div>
            <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
                <img class="footer-logo" src="../assets/images/logo.svg" />
            </a>
            <div class="social-icons flex">
                <a class="facebook" href="https://www.facebook.com/djordjevinarija/" target="_blank"></a>
            </div>
        </div>

        <div class="pages">
            <p>странице</p>
            <div class="pages-container flex">
                <div class="first-colum">
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(1)" ng-class="{'selected' : $state.includes('layout.home')}" ui-sref="layout.home">почетна</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-class="{'selected' : $state.includes('layout.wines')}" ui-sref="layout.wines">вина</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(2)" ng-class="{'selected' : $state.includes('layout.winery')}" ui-sref="layout.winery">винарија</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(5)" ng-class="{'selected' : $state.includes('layout.vineyards')}" ui-sref="layout.vineyards">виногради</a>
                    </div>
                </div>
                <div class="second-colum">
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(0)" ng-class="{'selected' : $state.includes('layout.visit-winery')}" ui-sref="layout.visit-winery">посета винарији</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(4)" ng-class="{'selected' : $state.includes('layout.actualities')}" ui-sref="layout.actualities">актуелности</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-click="goToSlide(3)" ng-class="{'selected' : $state.includes('layout.territory')}" ui-sref="layout.territory">делиблатска пешчара</a>
                    </div>
                    <div class="flex">
                        <div class="red-line"></div>
                        <a class="page-name" ng-class="{'selected' : $state.includes('layout.gallery')}" ui-sref="layout.gallery">Галерија</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-info">
            <p>контакт</p>
            <div class="title">позовите</div>
            <div class="flex contact-box">
                <div class="call-img"></div>
                <a href="tel:+381603813054" class="info">+381 (0)60 3813054</a>
            </div>

            <div class="title">пошаљите</div>
            <div class="flex contact-box">
                <div class="email-img"></div>
                <a href="mailto:vinarijadjordje@hotmail.com" class="info">vinarijadjordje@hotmail.com</a>
            </div>

            <div class="title">пронађите нас</div>
            <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
                <div class="flex contact-box">
                    <div class="map-pin"></div>
                    <div class="info">Прикажи путању</div>
                </div>
            </a>
        </div>

        <div class="contact-form" ng-form="contactForm">
            <p>контакт</p>
            <input type="text"
                   placeholder="Ваше име"
                   name="name"
                   ng-model="message.name"
                   required />
            <input type="text"
                   placeholder="Ваш емаил"
                   name="email"
                   ng-model="message.email"
                   required />
            <textarea type="text"
                      placeholder="Ваша порука"
                      name="message"
                      ng-model="message.body"
                      required />
            <button class="send-btn flex" ng-disabled="contactForm.$invalid" ng-click="contact()">
                <div class="send-text">Пошаљи</div>
                <div class="send-img" ng-show="!loader"></div>
                <img src="../assets/images/loader.gif" alt="" ng-show="loader" />
            </button>
            <div class="message">{{contactMessage}}</div>
        </div>
    </div>
    <div class="copyright center">© {{date | date:'yyyy'}} Сва права задржана - Винарија Ђорђе</div>
    <a href="http://www.enginee.rs" target="_blank" class="engineers-logo center"></a>
</section>