<div class="red-wine-page">
    <section class="flex" set-height>
        <div class="logo"></div>

        <div class="red-sort flex" set-height>
            <div class="name-position">
                <div class="flex">
                    <div class="grey-line"></div>
                    <div class="name">ФРЕСКА ЦРВЕНА</div>
                </div>
                <div class="harvest">берба 2015.</div>
            </div>
            <div class="sort-bottle"></div>
            <div class="all-sorts">
                <div class="flex">
                    <div class="name">Фреска црвена</div>
                    <div class="grey-line"></div>
                </div>
                <div class="flex">
                    <div class="name">Португизер</div>
                    <div class="grey-line"></div>
                </div>
            </div>
        </div>

        <div class="sort-content" set-height>
            <div class="f-img"></div>
            <div class="stamp-big"></div>
        </div>
    </section>
</div>