<div class="logo" ui-sref="layout.home"></div>
<a class="back-arrow-red" ng-click="changeState()"></a>
<div class="red-wine-page">

    <section class="flex tablet-position">
        <div class="red-sort flex" set-height></div>
        <div class="scroll-down">
            <div class="empty-circle">
                <div class="full-circle"></div>
            </div>
            <div class="text">{{'scroll' | translate}}</div>
            <div class="vertical-line"></div>
        </div>
        <div class="sort-content" set-height>
            <div class="stamp-big"></div>
        </div>
    </section>
</div>

<div id="fullpage">
    <div class="section active">
        <div class="freska-crvena">
            <div class="freska-crvena-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'freska-crvena' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name name-active">{{'freska-crvena' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">{{'portugieser' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">{{'merlot' | translate}}</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="f-red  letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'freska-crvena' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}}</div>
                <div class="text">{{'freska-cont1' | translate}}</div>
                <div class="text">{{'freska-cont2' | translate}}</div>
                <div class="flex temperature">
                    <div class="temp text">{{'temp' | translate}}</div>
                    <div class="degrees">16-18 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">{{'alcohol' | translate}}</div>
                    <div class="percentage">12,5%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="portugizer">
            <div class="portugizer-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'portugieser' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">{{'freska-crvena' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">{{'portugieser' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">{{'merlot' | translate}}</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="letter-portugizer letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'portugieser' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}} {{'portugieser' | translate}} 100%</div>
                <div class="text">{{'portu-cont1' | translate}}</div>
                <div class="text">{{'portu-cont2' | translate}}</div>
                <div class="text">{{'portu-cont3' | translate}}</div>
                <div class="flex temperature">
                    <div class="temp text">{{'temp' | translate}}</div>
                    <div class="degrees">13-15 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">{{'alcohol' | translate}}</div>
                    <div class="percentage">12%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="merlo">
            <div class="merlo-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'merlot' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">{{'freska-crvena' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">{{'portugieser' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">{{'merlot' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
        </div>
        <div class="letter-merlo letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'merlot' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}} {{'merlot' | translate}} 100%</div>
                <div class="text">{{'merlo-cont1' | translate}}</div>
                <div class="text">{{'merlo-cont2' | translate}}</div>
                <div class="text">{{'merlo-cont3' | translate}}</div>
                <div class="flex temperature">
                    <div class="temp text">{{'temp' | translate}}</div>
                    <div class="degrees">16-18 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">{{'alcohol' | translate}}</div>
                    <div class="percentage">14%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
