<div class="logo" ui-sref="layout.home"></div>
<a class="back-arrow-red" ng-click="changeState()"></a>
<div class="red-wine-page">

    <section class="flex tablet-position">
        <div class="red-sort flex" set-height></div>
        <div class="scroll-down">
            <div class="empty-circle">
                <div class="full-circle"></div>
            </div>
            <div class="text">{{'scroll' | translate}}</div>
            <div class="vertical-line"></div>
        </div>
        <div class="sort-content" set-height>
            <div class="stamp-big"></div>
        </div>
    </section>
</div>

<div id="fullpage">
    <div class="section active">
        <div class="freska-crvena">
            <div class="freska-crvena-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'freska-crvena' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name name-active">{{'freska-crvena' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">{{'portugieser' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">{{'merlot' | translate}}</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="f-red  letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'freska-crvena' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}}</div>
                <div class="text">
                    Веома свежа купажа у којој доминира Франковка уз зачинске ноте Реба.
                    Вино изузетне црвене боје са прелепим љубичастим одсјајем. На мирису
                    веома воћно међу којим доминира зрела трешња. На укусу је заводљиво и
                    питко, средњег тела и веома богатог екстрата. Прелепи благи танини,
                    воћнаскладност и пријатне свеже киселине преливају се у веома пријатну
                    завршницу богату бобичастим воћем.
                </div>
                <div class="text">
                    Одлично се слаже уз домаће гулаше и паприкаше, димљено и сушено месо,
                    зреле сиреве, пасте са месом и парадајзом, пачетином и ћуретином.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">16-18 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">12,5%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="portugizer">
            <div class="portugizer-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'portugieser' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">{{'freska-crvena' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">{{'portugieser' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">{{'merlot' | translate}}</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="letter-portugizer  letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'portugieser' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}} Португизер 100%</div>
                <div class="text">
                    Црвено вино прелепе рубин боје, лепршаво, лагано и изузетно питко.
                </div>
                <div class="text">
                    На мирису се истичу ароме зрелог воћа, нарочито јагоде. На укусу се препознаје
                    блага сласт и посебне воћне ноте које заокружују лепе киселине и чине ово вино
                    свежим и сочним. Ради се о веома специфичном Португизеру који одише карактеристичном
                    раздраганошћу типичној за ову сорту грожђа, а опет заиста другачијем од свих других у Србији.
                </div>
                <div class="text">
                    Ово је право вино за уживање јер не тражи храну, већ само добро друштво. Благо расхлађено,
                    изузетно пријатно у летњим условима. Веома лепо се може упарити са младим сиревима, домаћим
                    кобасицама, тадиционалним војвођанским предјелима, тестенинама и комбинованим салатама.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">13-15 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">12%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="merlo">
            <div class="merlo-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">{{'merlot' | translate}}</div>
            </div>
            <div class="harvest">{{'berba' | translate}} 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">{{'freska-crvena' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">{{'portugieser' | translate}}</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">{{'merlot' | translate}}</div>
                <div class="grey-line red-line-active"></div>
            </div>
        </div>
        <div class="letter-merlo letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">{{'merlot' | translate}}</div>
                <div class="subtitle">{{'dry-wine' | translate}} Мерло 100%</div>
                <div class="text">
                    Вино интензивне, дубоке рубин црвене боје. Веома равијен комплекс воћних мириса у којем
                    се посебно истичу купина и дивља трешња. На укусу пуно, глатко, постојано, одлично балансирано
                    уз прелепе нежне и баршунасте танине.
                </div>
                <div class="text">
                    Веома лепо се слаже уз ћуретину, пачетину, младо печење, зреле сиреве, печену
                    говедину и нарочито уз чоколадне десерте.
                </div>
                <div class="text">
                    Препорука декантирања: 30 минута.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">16-18 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">14%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">{{'order' | translate}}</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
