<div class="territory-page">
    <section class="info flex">
        <div class="text-wrapper right">
            <div class="title">Делиблатска Пешчара</div>
            <div class="subtitle">Винарија Ђорђе</div>
            <p>
                Поднебље или како французи кажу "terroir" је оно што вину даје посебност,
                личност, изворност и природност. Вина направљена од исте врсте грожђа
                узгајаних на различтим поднебљима никада не могу бити иста. С друге стране,
                вина имају значајну улогу у презентовању одређеног поднебља ширем друштвеном
                и нарочито међународном аудиторијуму.
            </p>
            <p>
                Баш из претходно наведених разлога, посебну пажњу посвећујемо нашем тероару
                и желимо да га презентујемо онаквим какав заправо и јесте..
            </p>
            <p>
                Делиблатска пешчара се налази у југоисточном делу панонске низије, у Јужном Банату,
                и представља највећу европску континенталну пешчару која обухвата близу 35.000 хектара
                површине. Елипсастог је облика и оријентисана је у правцу југоисток-северозапад.
                Настала је током леденог доба од моћних наслага песка. У савременом периоду ветар
                Кошава обликовао је изражен дински рељеф (еолски рељеф), чије су надморске висине
                између 70 и 200 метара.
            </p>
        </div>
    </section>
    <section class="flora flex">
        <div class="left-box left">
            <div class="text-wrapper right">
                <div class="title">Флора</div>
                <div class="subtitle">Црвено суво вино.</div>
                <p class="right">
                    У јединственом мозаику екосистема, налазе се типичне врсте флоре и
                    фауне од којих су многе природне реткости значајне по међународним
                    критеријумима. Богата флора са преко 900 врста, подврста и варијетета
                    обилује раритетима, реликтима, ендемима као што су банатски божур,
                    панчићев пелен и клека – једини самоникли четинар панонске низије. Као
                    последња и највећа оаза пешчарско-степске, шумске и мочварне вегетације
                    која је некада доминирала панонском низијом, Делиблатска пешчара је
                    један од најважнијих центара биодиверзитета у Европи.
                </p>
            </div>
        </div>
        <div class="right-box left"></div>
    </section>
</div>