<div class="territory-page">
    <section class="info flex">
        <div class="text-wrapper right">
            <div class="title">Делиблатска Пешчара</div>
            <div class="subtitle">Винарија Ђорђе</div>
            <p>
                Поднебље или како французи кажу "terroir" је оно што вину даје посебност,
                личност, изворност и природност. Вина направљена од исте врсте грожђа
                узгајаних на различтим поднебљима никада не могу бити иста. С друге стране,
                вина имају значајну улогу у презентовању одређеног поднебља ширем друштвеном
                и нарочито међународном аудиторијуму.
            </p>
            <p>
                Баш из претходно наведених разлога, посебну пажњу посвећујемо нашем тероару
                и желимо да га презентујемо онаквим какав заправо и јесте..
            </p>
            <p>
                Делиблатска пешчара се налази у југоисточном делу панонске низије, у Јужном Банату,
                и представља највећу европску континенталну пешчару која обухвата близу 35.000 хектара
                површине. Елипсастог је облика и оријентисана је у правцу југоисток-северозапад.
                Настала је током леденог доба од моћних наслага песка. У савременом периоду ветар
                Кошава обликовао је изражен дински рељеф (еолски рељеф), чије су надморске висине
                између 70 и 200 метара.
            </p>
        </div>
    </section>
    <section class="flora flex">
        <div class="left-box left">
            <div class="text-wrapper right">
                <div class="title">Флора</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="right">
                    У јединственом мозаику екосистема, налазе се типичне врсте флоре и
                    фауне од којих су многе природне реткости значајне по међународним
                    критеријумима. Богата флора са преко 900 врста, подврста и варијетета
                    обилује раритетима, реликтима, ендемима као што су банатски божур,
                    панчићев пелен и клека – једини самоникли четинар панонске низије. Као
                    последња и највећа оаза пешчарско-степске, шумске и мочварне вегетације
                    која је некада доминирала панонском низијом, Делиблатска пешчара је
                    један од најважнијих центара биодиверзитета у Европи.
                </p>
            </div>
        </div>
        <div class="right-box left"></div>
    </section>
    <section class="fauna flex">
        <div class="left-box left"></div>
        <div class="right-box left">
            <div class="text-wrapper right">
                <div class="title">Фауна</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="left">
                    Међу реткостима фауне истичу се врсте са степских станишта: пустињски
                    мрави, банатски соко, орао крсташ, степски скочимиш, текуница, слепо куче,
                    степски твор и друге. За неке од њих, Делиблатска пешчара је једино
                    станиште у Србији. Специфичност Резервата је и стална популација вука.
                </p>
                <p class="left">
                    У заштићеном природном добру налази се део реке Дунав са ритовима и
                    адама. Воде богате рибом и мрестилишта значајно су стециште и масовно
                    зимовалиште птица водених станишта, због чега је Делиблатска пешчара
                    1989. године проглашена за међународно значајно станиште птица. Овде се
                    гнезде многе ретке врсте: мала бела чапља, жута чапља, ибис и ласта
                    брегуница. Мали корморан – глобално угрожена врста  – ту има једино
                    стабилно гнездилиште.<br />
                    Типична села на ободу заштићеног природног добра чувају атмосферу
                    минулих времена и употпуњују слику овог живописног предела.
                </p>
                <p class="left">
                    Занимљиво је да су се култни филмови  "Ко то тамо пева" и "Бој на Косову"
                    снимани баш у Делиблатској пешчари. Природне карактеристике и јединственост
                    овог краја чине га погодним за рекреацију, лов и риболов, а пре свега 
                    еколошки туризам.
                </p>
            </div>
        </div>
    </section>
    <section class="climate flex">
        <div class="left-box left">
            <div class="text-wrapper right">
                <div class="title">Клима</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="right">
                    Делиблатска пешчара се разликује од своје околине у морфолошком и
                    вегетацијском погледу што се одражава и на климу због  чега се јављају
                    микроклиматске разлике између пешчаре и њене околине. Пешчара има
                    умерено-континенталну климу са наглашеним степским особинама.
                </p>
                <p class="right">
                    Дневно као и годишње колебање температуре у Делиблатској пешчари је
                    велико. Загревање песка је дању и лети јако због чега температуре достижу и 60ºЦ.
                </p>
                <p class="right">
                    Ноћу и зими температура знатно опада. Годишње колебање температуре у
                    печари износи 80ºЦ.  Средња годишња температура креће се креће се од
                    9,5ºЦ до 11ºЦ.
                </p>
                <p class="right">
                    Интересантно је истаћи да се клима Делиблатске пешчаре подудара са
                    Златиборском климом. Ноћи су хладне са доста росе а дани топли и суви
                    са релативном влажношћу од 26%. Притисак је променљив и креће се од 886
                    - 1о28мб. Просечна сума годишњих падавина износи 633мм. Најмање падавина
                    је у јулу, августу и септембру. Просечан број сунчаних сати је 2150 годишње.
                </p>
            </div>
        </div>
        <div class="right-box left"></div>
    </section>
</div>