<div class="territory-page">
    <section class="info flex">
        <div class="tablet-img"></div>
        <div class="text-wrapper right">
            <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'deliblatska-title' | translate}}</div>
            <div class="subtitle" animation-settings="headlineAnimation" scroll-trigger>{{'winery' | translate}} Ђорђе</div>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'deliblatska-cont1' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'deliblatska-cont2' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'deliblatska-cont3' | translate}}</p>
        </div>
    </section>
    <section class="flora flex">
        <div class="left-box left">
            <div class="text-wrapper right">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'flora' | translate}}</div>
                <p class="right" animation-settings="bodyTextAnimation" scroll-trigger>{{'flora-cont1' | translate}}</p>
            </div>
        </div>
        <div class="right-box left"></div>
    </section>
    <section class="fauna flex">
        <div class="right-box left">
            <div class="text-wrapper right">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'fauna' | translate}}</div>
                <p class="left" animation-settings="bodyTextAnimation" scroll-trigger>{{'fauna-cont1' | translate}}</p>
                <p class="left" animation-settings="bodyTextAnimation" scroll-trigger>{{'fauna-cont2' | translate}}</p>
                <p class="left" animation-settings="bodyTextAnimation" scroll-trigger>{{'fauna-cont3' | translate}}</p>
            </div>
        </div>
        <div class="left-box left"></div>
    </section>
    <section class="climate flex">
        <div class="left-box left">
            <div class="text-wrapper right">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'klima' | translate}}</div>
                <p class="right" animation-settings="bodyTextAnimation" scroll-trigger>{{'klima-cont1' | translate}}</p>
                <p class="right" animation-settings="bodyTextAnimation" scroll-trigger>{{'klima-cont2' | translate}}</p>
                <p class="right" animation-settings="bodyTextAnimation" scroll-trigger>{{'klima-cont3' | translate}}</p>
                <p class="right" animation-settings="bodyTextAnimation" scroll-trigger>{{'klima-cont4' | translate}}</p>
            </div>
        </div>
        <div class="right-box left"></div>
    </section>
</div>