<div class="vineyards-page">
    <section class="vineyards">
        <div class="title center" animation-settings="headlineAnimation" scroll-trigger>{{'vineyards' | translate}}</div>
        <div class="subtitle center" animation-settings="headlineAnimation" scroll-trigger>{{'winery' | translate}} Ђорђе</div>
        <p class="content center" animation-settings="bodyTextAnimation" scroll-trigger>{{'vineyards-cont1' | translate}}</p>
        <p class="content second center" animation-settings="bodyTextAnimation" scroll-trigger>{{'vineyards-cont2' | translate}}</p>
    </section>

    <section class="land flex">
        <div class="text-part">
            <div class="land-position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'soil' | translate}}</div>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'soil-cont1' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'soil-cont2' | translate}}</p>
            </div>
        </div>
        <div class="land-img"></div>
    </section>

    <section class="vineyards-white-sort flex">
        <div class="text-part">
            <div class="white-wine-position">
                <div class="title" animation-settings="rightAnimation" scroll-trigger>{{'white-grape' | translate}}</div>
                <div class="sort-wine flex" animation-settings="rightAnimation" scroll-trigger>
                    <div class="red-line"></div>
                    <div class="sort">{{'chardonnay' | translate}}</div>
                </div>
                <div class="sort-wine flex" animation-settings="rightAnimation" scroll-trigger>
                    <div class="red-line"></div>
                    <div class="sort">{{'sauvignon' | translate}}</div>
                </div>
                <div class="sort-wine flex" animation-settings="rightAnimation" scroll-trigger>
                    <div class="red-line"></div>
                    <div class="sort">{{'traminac' | translate}}</div>
                </div>
                <div class="sort-wine flex" animation-settings="rightAnimation" scroll-trigger>
                    <div class="red-line"></div>
                    <div class="sort">{{'burgunac' | translate}}</div>
                </div>
            </div>
        </div>
        <div class="white-wine-img"></div>
    </section>

    <section class="vineyards-black-sort flex">
        <div class="text-part">
            <div class="black-wine-position">
                <div class="title" animation-settings="leftAnimation" scroll-trigger>{{'red-grape' | translate}}</div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'portugieser' | translate}}</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'frankovka' | translate}}</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'merlot' | translate}}</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'rebo' | translate}}</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'burgunac-crni' | translate}}</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex" animation-settings="leftAnimation" scroll-trigger>
                    <div class="sort">{{'kaberne' | translate}}</div>
                    <div class="red-line"></div>
                </div>
            </div>
        </div>
        <div class="black-wine-img"></div>
    </section>
</div>