<div class="vineyards-page">
    <section class="vineyards">
        <div class="title center">Виногради</div>
        <div class="subtitle center">Винарија Ђорђе</div>
        <p class="content center">
            Винарија ЂОРЂЕ своја вина производи искључиво од грожђа пореклом из сопствених
            породичних винограда лоцираних у непосредној близини винарије.
        </p>
        <p class="content second center">
            Виногради су формирани почев од 2006. до 2012. године на укупној
            површини од око 12,5 ха. На овој површини узгајамо неке од најпознатијих врхунских
            сорти грожђа али и неке, нама веома драге, аутохтоне сорте карактеристичне за поднебље
            Јужног Баната и Војводине.
        </p>
    </section>

    <section class="land flex">
        <div class="text-part">
            <div class="land-position">
                <div class="title">Земљиште</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="content">
                    Виногради су подигнути на веома специфичном земљишту, јединственом у
                    Европи. Овакво, изразито песковито земљиште, богато минералима и
                    кречњаком уз веома специфичне микроклиматске услове Делиблатске
                    пешчаре омогућава производњу вина врхунског квалитета и јединственог
                    карактера.
                </p>
                <p class="content">
                    Посебан куриозитет представља површински слој жутог песка који
                    омогућава, готово идеалну рефлексију сунчевих зрака, као и борова шума
                    којом су виногради окружени која ствара несвакидашњи амбијент за узгој
                    винове лозе. Поднебље или како французи кажу „terroir“ је оно што вину
                    даје посебност, личност, изворност и природност. Вина направљена од исте
                    врсте грожђа узгајаних на различтим поднебљима никада не могу бити иста.
                    С друге стране, вина имају значајну улогу у презентовању одређеног
                    поднебља ширем друштвеном и нарочито међународном аудиторијуму. Берба
                    грожђа се обавља искључиво ручно.
                </p>
            </div>
        </div>
        <div class="land-img"></div>
    </section>

    <section class="vineyards-white-sort flex">
        <div class="white-wine-img"></div>
        <div class="text-part">
            <div class="white-wine-position">
                <div class="title">Беле сорте грожђа</div>
                <!--<div class="subtitle">у нашим виноградима:</div>-->
                <div class="sort-wine flex">
                    <div class="red-line"></div>
                    <div class="sort">ШАРДОНЕ</div>
                </div>
                <div class="sort-wine flex">
                    <div class="red-line"></div>
                    <div class="sort">СОВИЊОН БЕЛИ</div>
                </div>
                <div class="sort-wine flex">
                    <div class="red-line"></div>
                    <div class="sort">ТРАМИНАЦ МИРИСАВИ</div>
                </div>
                <div class="sort-wine flex">
                    <div class="red-line"></div>
                    <div class="sort">БУРГУНДАЦ СИВИ</div>
                </div>
            </div>
        </div>
    </section>

    <section class="vineyards-black-sort flex">
        <div class="text-part">
            <div class="black-wine-position">
                <div class="title">Црне сорте грожђа</div>
               <!-- <div class="subtitle">у нашим виноградима:</div>-->
                <div class="sort-wine flex">
                    <div class="sort">ПОРТУГИЗЕР</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex">
                    <div class="sort">ФРАНКОВКА</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex">
                    <div class="sort">МЕРЛО</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex">
                    <div class="sort">РЕБО</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex">
                    <div class="sort">БУРГУНДАЦ ЦРНИ</div>
                    <div class="red-line"></div>
                </div>
                <div class="sort-wine flex">
                    <div class="sort">КАБЕРНЕ СОВИЊОН</div>
                    <div class="red-line"></div>
                </div>
            </div>
        </div>
        <div class="black-wine-img"></div>
    </section>
</div>