<div class="visit-winery-page">
    <section class="about">
        <div class="default-wrapper">
            <h3 animation-settings="headlineAnimation" scroll-trigger>{{'visit-winery' | translate}}</h3>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont1' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont2' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont3' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont4' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont5' | translate}}</p>
            <p animation-settings="bodyTextAnimation" scroll-trigger>{{'visit-cont6' | translate}}</p>
        </div>
    </section>
    <section class="contact">
        <!--<ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-marker coords="marker.coords" idkey="marker.id" options="marker.options"></ui-gmap-marker>
        </ui-gmap-google-map>-->
        <div class="temp-map"></div>
        <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
            <div class="temp-logo"></div>
        </a>
        <a target="_blank" href="https://www.google.rs/maps/place/44%C2%B059'41.9%22N+20%C2%B056'25.2%22E/@44.9949618,20.9381543,642m/data=!3m2!1e3!4b1!4m5!3m4!1s0x0:0x0!8m2!3d44.994958!4d20.940343?hl=en">
            <div class="contact-card" animation-settings="headlineAnimation" scroll-trigger>
                <img class="main-logo" src="../assets/images/contact-card-logo.svg" />
                <div class="name">Винарија <span>ђорђе д.о.о.</span></div>
                <div class="address">Девојачки бунар бб,<br /> 26320 Банатски Карловац <br /> Делиблатска пешчара</div>
            </div>
        </a>
        <div class="contact-info-wrapper">
            <div class="number"  animation-settings="rightAnimation" scroll-trigger>
                <a class="icon" href="tel:+381603813054">
                    <div class="cell"></div>
                </a>
                <div class="text">
                    <div class="line1">{{'call' | translate}}</div>
                    <a class="line2" href="tel:+381603813054">+ 381 (0)60 3813 054</a>
                </div>
            </div>
            <div class="mail"  animation-settings="rightAnimation" scroll-trigger>
                <a class="icon" href="mailto:vinarijadjordje@hotmail.com">
                    <div class="envelope"></div>
                </a>
                <div class="text">
                    <div class="line1">{{'send' | translate}}</div>
                    <a class="line2" href="mailto:vinarijadjordje@hotmail.com">vinarijadjordje@hotmail.com</a>
                </div>
            </div>
        </div>
    </section>
</div>