<div class="logo" ui-sref="layout.home"></div>
<div class="back-arrow-black" ng-click="changeState()"></div>
<div class="white-wine-page">
    <section class="flex tablet-position">
        <div class="red-sort flex" set-height></div>

        <div class="scroll-down">
            <div class="empty-circle">
                <div class="full-circle"></div>
            </div>
            <div class="text">Скролуј доле</div>
            <div class="vertical-line"></div>
        </div>

        <div class="sort-content" set-height>
            <div class="stamp-big"></div>
        </div>
    </section>
</div>

<div id="fullpage-white">
    <div class="section active">
        <div class="freska-bela">
            <div class="freska-bela-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">ФРЕСКА БЕЛА</div>
            </div>
            <div class="harvest">берба 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name name-active">Фреска Бела</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">Шардоне</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Траминац мирисни</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Совињон бели</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="f-white letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">ФРЕСКА БЕЛА</div>
                <div class="subtitle">Бело суво вино.</div>
                <div class="text">
                    Веома специфична купажа Бургундца сивог и Шардонеа. Бело вино нетипичне сламнато жуте
                    боје са израженим бакарним тоновима. На мирису интензивно и живописно, веома постојано,
                    богато секундарним аромама крушке, меда и свежег бадема. На укусу снажно, пуног тела,
                    слојевито, веома лепо заокружено. Иако са доста алкохола веома питко, са израженом слашћу
                    минералног карактера и веома лепим киселинама које му дају посебну свежину. Завршница
                    је воћна, дуга и слојевита.
                </div>
                <div class="text">
                    Веома лепо се слаже са пикантним морским плодовима, туном и речном рибом, пилетином и ћуретином
                    у слатко-сланим сосевима, тврдим козјим сиревима, печеним кестеном, умерено слатким колачима.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">8-10 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">13,5%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">поручите</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="sardone">
            <div class="sardone-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">ШАРДОНЕ</div>
            </div>
            <div class="harvest">берба 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">Фреска Бела</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">Шардоне</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">Траминац мирисни</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Совињон бели</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="sardone-letter letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">ШАРДОНЕ</div>
                <div class="subtitle">Бело суво вино. Шардоне 100%</div>
                <div class="text">
                    Вино сламнато жуте боје. На мирису испреплетано минералним и деликатним воћним аромама. На укусу
                    веома воћно, хармонично, пуно, са веома пријатним и хрскавим киселинама. У позадини извире веома
                    блага доза воћне сласти. Завршница је освежавајућа, уз префињене ноте цитруса.
                </div>
                <div class="text">
                    Препоручујемо га за конзумцију уз летње салате, речну и морску рибу, плодове мора, мекане сиреве,
                    бело месо, десерте са крушкама и јабукама, и воћне суве колаче.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">8-10 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">13,5%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">поручите</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="traminac">
            <div class="traminac-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">ТРАМИНАЦ МИРИСНИ</div>
            </div>
            <div class="harvest">берба 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">Фреска Бела</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Шардоне</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">Траминац мирисни</div>
                <div class="grey-line red-line-active"></div>
            </div>
            <div class="flex">
                <div class="name">Совињон бели</div>
                <div class="grey-line"></div>
            </div>
        </div>
        <div class="traminac-letter letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">ТРАМИНАЦ МИРИСНИ</div>
                <div class="subtitle">Бело суво вино. Траминац мирисни 100%</div>
                <div class="text">
                    Траминац мирисни је вино светло жуте боје са златастим одсјајем кристалне бистрине. Мирисаво,
                    мекано вино са израженим прелепим аромама беле брескве, диње и беле руже. Ови мириси се нежно
                    претачу у магичан слаткасти укус кандираног воћа који пружа посебно задовољство у завршници. Вино
                    је изузетно питко, средњег тела, кремасто, са добро балансираним алкохолом и киселинама.
                </div>
                <div class="text">
                    Може бити идеалан аперитив али се одлично слаже са плодовима мора, димљеном рибом, летњим салатама,
                    белим месом, воћем и воћним десертима.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">10-12 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">13%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">поручите</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="sovinjon">
            <div class="sovinjon-bottle"></div>
        </div>
        <div class="name-position">
            <div class="flex">
                <div class="grey-line"></div>
                <div class="name">СОВИЊОН БЕЛИ</div>
            </div>
            <div class="harvest">берба 2015.</div>
        </div>
        <div class="all-sorts">
            <div class="flex">
                <div class="name">Фреска Бела</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Шардоне</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name">Траминац мирисни</div>
                <div class="grey-line"></div>
            </div>
            <div class="flex">
                <div class="name name-active">Совињон бели</div>
                <div class="grey-line red-line-active"></div>
            </div>
        </div>
        <div class="sovinjon-letter letter-position"></div>
        <div class="change-text">
            <div class="content-position">
                <div class="name-wine">СОВИЊОН БЕЛИ</div>
                <div class="subtitle">Бело суво вино. Совињон бели 100%</div>
                <div class="text">
                    Вино сламнато жуте боје, кристалне бистрине, са богатим ароматским комплексом. Свеже, елегантно
                    вино у којем се на мирису истичу ароме виноградарске брескве, зове и цитруса. Савршено прија на
                    високим летњим температурама. Вино је средњег тела, лако покретљиво у чаши, изузетно питко, са
                    благим тоновима сласти, добро избалансираним киселинама и прелепом воћном завршницом.
                </div>
                <div class="text">
                    Препоручујемо га уз рибу, пасте са морским плодовима, летње салате, сиреве, суве смокве и суве колаче.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">10-12 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">13,5%</div>
                </div>
                <div class="read-more-box flex">
                    <div class="vertical-line"></div>
                    <a href="mailto:vinarijadjordje@hotmail.com" class="read-more">поручите</a>
                    <div class="vertical-line"></div>
                </div>
            </div>
        </div>
    </div>
</div>
