<div class="white-wine-page">
    <section class="flex" set-height>
        <div class="logo" ui-sref="layout.home"></div>

        <div class="red-sort flex" set-height>
            <div class="name-position">
                <div class="flex">
                    <div class="grey-line"></div>
                    <div class="name">ФРЕСКА БЕЛА</div>
                </div>
                <div class="harvest">берба 2015.</div>
            </div>
            <div class="sort-bottle"></div>
            <div class="all-sorts">
                <div class="flex">
                    <div class="name">Фреска Бела</div>
                    <div class="grey-line"></div>
                </div>
                <div class="flex">
                    <div class="name">Шардоне</div>
                    <div class="grey-line"></div>
                </div>
                <div class="flex">
                    <div class="name">Траминац мрисни</div>
                    <div class="grey-line"></div>
                </div>
                <div class="flex">
                    <div class="name">Совињон бели</div>
                    <div class="grey-line"></div>
                </div>
            </div>
        </div>

        <div class="sort-content" set-height>
            <div class="f-white"></div>
            <div class="content-position">
                <div class="name-wine">ФРЕСКА БЕЛА</div>
                <div class="subtitle">Бело суво вино.</div>
                <div class="text">
                    Веома специфична купажа Бургундца сивог и Шардонеа. Бело вино нетипичне сламнато жуте
                    боје са израженим бакарним тоновима. На мирису интензивно и живописно, веома постојано,
                    богато секундарним аромама крушке, меда и свежег бадема. На укусу снажно, пуног тела,
                    слојевито, веома лепо заокружено. Иако са доста алкохола веома питко, са израженом слашћу
                    минералног карактера и веома лепим киселинама које му дају посебну свежину. Завршница
                    је воћна, дуга и слојевита.
                </div>
                <div class="text">
                    Веома лепо се слаже са пикантним морским плодовима, туном и речном рибом, пилетином и ћуретином
                    у слатко-сланим сосевима, тврдим козјим сиревима, печеним кестеном, умерено слатким колачима.
                </div>
                <div class="flex temperature">
                    <div class="temp text">Температура сервирања:</div>
                    <div class="degrees">8-10 C</div>
                </div>
                <div class="flex alcohol-percentage">
                    <div class="alcohol text">Алкохол:</div>
                    <div class="percentage">13,5%</div>
                </div>
            </div>
            <div class="back-arrow-black" ui-sref="layout.wines"></div>
        </div>
    </section>
</div>