<div class="winery-page">
    <section class="flex idea-section">
        <div class="idea"></div>
        <div class="text-part">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>Идеја</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Идеја за озбиљну породичну винарију родила се 2010. године. Већ наредне године смо почели са изградњом винарије,
                    проширивањем винограда и стварањем других услова за реализацију читавог концепта. Винарија ЂОРЂЕ је основана 2014.
                    године иако као породица имамо прегршт искуства у производњи вина.
                </p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Пре свега, наша идеја је да благородни потенцијал веома специфичног земљишта и микроклиме Делиблатске пешчаре
                    преточимо у исто тако специфична вина која ће имати карактер овог поднебља. У том погледу јако нам је битно да
                    произведемо грожђе врхунског квалитета како би у прозводњи вина примењивали што је могуће мање енолошких средстава
                    и тиме обезбедили да се специфичности наше микролокације задрже и у нашем вину.
                </p>
                <div class="logo" animation-settings="bodyTextAnimation" scroll-trigger></div>
            </div>
        </div>
    </section>

    <section class="flex location-section">
        <div class="location"></div>
        <div class="text-part winery-location">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>Локација</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Винарија ЂОРЂЕ своју производњу базира на преради грожђа које потиче искључиво из сопствених породичних винограда укупне површине 12,5 ха.
                </p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Винарија се налази у викенд насељу Девојачки бунар, недалеко од места
                    Банатски Карловац, на северо-западном ободу Делиблатске пешчаре. Овај
                    јединствени грађевински објекат налази се испод самог винограда што
                    омогућава веома брзу прераду тек убраног грожђа. Ово је посебно битно
                    јер се тиме постиже максимално очување природних арома сваке појединачне
                    сорте грожђа. Из истог разлога, берба грожђа се обавља искључиво ручно.
                </p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Ентеријер винарије је уређен по угледу на старе банатске куће, пуне топлине
                    и атмосфере која сваком посетиоцу пружа јединствени доживљај. Овим смо се
                    потрудили да свим љубитељима вина као и самом нашем вину пружимо посебан
                    ужитак током боравка у нашем подруму.
                </p>
            </div>
        </div>
    </section>

    <section class="flex production-section">
        <div class="production"></div>
        <div class="text-part production-text">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>Производња</div>
                <!--<div class="subtitle">Црвено суво вино.</div>-->
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Принцип производње грожђа је традиционални уз минималну употребу
                    енолошких седстава и примену појединих тековина модерне технологије у
                    производњи вина као што су: контрола температуре ферментације и
                    мацерације, примена селекционисаних квасаца, употреба модерних
                    софистицираних пумпи за претакање вина које минимално „малтретирају“
                    вина, хладна стабилизација вина и слично.

                </p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                    Капацитет винарије је 30.000 литара вина са могућношћу проширења
                    допремањем до 100.000 литара. Берба 2015. године је наша „нулта“
                    берба јер је са винима из ове бербе Винарија ЂОРЂЕ први пут наступила на националном тржишту.
                </p>
            </div>
        </div>
    </section>

    <section class="welcome-to-winary">
        <div class="position-content">
            <div class="title" animation-settings="headlineAnimation" scroll-trigger>Посетите Винарију</div>
            <div class="content" animation-settings="bodyTextAnimation" scroll-trigger>
                У могућности смо да угостимо мање и веће групе посетилаца саседећим капацитетом на отвореном од 60
                места и затвореном 80 места. Уз дегустацију наших вина, служимо и традициона војвођанска предјела
                типична за Јужни Банат.
            </div>
            <div class="read-more-box flex" ui-sref="layout.visit-winery" animation-settings="bodyTextAnimation" scroll-trigger>
                <div class="vertical-line"></div>
                <div class="read-more">прочитај још</div>
                <div class="vertical-line"></div>
            </div>
        </div>
    </section>
</div>