<div class="wines-page">
    <section class="wine-selection" set-height>
        <div class="flex mobile-display" set-height>
            <div class="red-wine" set-height>
                <div class="logo" ui-sref="layout.home"></div>
                <div class="hamburger-menu">
                    <div ng-show="hamburgerMenu" class="menu-nav-overlay" ng-click="showMenu()"></div>
                    <nav class="hamburger-nav">
                        <div class="hamburger-container" ng-class="{'open-menu': hamburgerMenu}">
                            <ul ng-click="showMenu()">
                                <li class="flex" ui-sref="layout.home">
                                    <div class="grey-line"></div>
                                    <a>почетна</a>
                                </li>
                                <li class="flex selected" ui-sref="layout.wines">
                                    <div class="grey-line"></div>
                                    <a>вина</a>
                                </li>
                                <li class="flex" ui-sref="layout.winery">
                                    <div class="grey-line"></div>
                                    <a>винарија</a>
                                </li>
                                <li class="flex" ui-sref="layout.vineyards">
                                    <div class="grey-line"></div>
                                    <a>виногради</a>
                                </li>
                                <li class="flex" ui-sref="layout.visit-winery">
                                    <div class="grey-line"></div>
                                    <a>посета винарији</a>
                                </li>
                                <li class="flex" ui-sref="layout.actualities">
                                    <div class="grey-line"></div>
                                    <a>актуелности</a>
                                </li>
                                <li class="flex" ui-sref="layout.territory">
                                    <div class="grey-line"></div>
                                    <a>делиблатска пешчара</a>
                                </li>
                                <li class="flex" ng-class="{'selected' : $state.includes('layout.gallery')}" ui-sref="layout.gallery">
                                    <div class="grey-line"></div>
                                    <a>Галерија</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div class="hamburger-btn" ng-click="showMenu()" ng-class="{'open': hamburgerMenu}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="label">Мени</div>
                </div>
                <div class="wine-position">
                    <div class="title">Црвена Вина</div>
                    <div class="red-bottle"></div>
                    <div class="read-more-box flex" ui-sref="layout.red-wines">
                        <div class="vertical-line"></div>
                        <div class="read-more">прочитај још</div>
                        <div class="vertical-line"></div>
                    </div>
                </div>
            </div>

            <div class="white-wine" set-height>
                <div class="wine-position">
                    <div class="title">Бела Вина</div>
                    <div class="white-bottle"></div>
                    <div class="read-more-box flex" ui-sref="layout.white-wines">
                        <div class="vertical-line"></div>
                        <div class="read-more">прочитај још</div>
                        <div class="vertical-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div ui-view></div>