<div class="winery-page">
    <section class="flex idea-section">
        <div class="idea"></div>
        <div class="text-part">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'idea' | translate}}</div>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'idea1' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'idea2' | translate}}</p>
                <div class="logo" animation-settings="bodyTextAnimation" scroll-trigger></div>
            </div>
        </div>
    </section>

    <section class="flex location-section">
        <div class="location"></div>
        <div class="text-part winery-location">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'location' | translate}}</div>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'location1' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'location2' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'location3' | translate}}</p>
            </div>
        </div>
    </section>

    <section class="flex production-section">
        <div class="production"></div>
        <div class="text-part production-text">
            <div class="position">
                <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'production' | translate}}</div>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'production1' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'production2' | translate}}</p>
                <p class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'production3' | translate}}</p>
            </div>
        </div>
    </section>

    <section class="welcome-to-winary">
        <div class="position-content">
            <div class="title" animation-settings="headlineAnimation" scroll-trigger>{{'visiting' | translate}}</div>
            <div class="content" animation-settings="bodyTextAnimation" scroll-trigger>{{'visiting1' | translate}}</div>
            <div class="read-more-box flex" ui-sref="layout.visit-winery" animation-settings="bodyTextAnimation" scroll-trigger>
                <div class="vertical-line"></div>
                <div class="read-more">{{'read-more' | translate}}</div>
                <div class="vertical-line"></div>
            </div>
        </div>
    </section>
</div>