@import "_variables.less";

@media screen and (max-width: 1600px) {
    .home-page {
        .red-wine {
            .bottle {
                .bottle-img {
                    margin: 120px -110px;
                    -moz-transform: scale(.8, .8);
                    -ms-transform: scale(.8, .8);
                    -o-transform: scale(.8, .8);
                    -webkit-transform: scale(.8, .8);
                    transform: scale(.8, .8);
                }
            }

            .description {
                .descr-part {
                    h3,
                    .red-line,
                    .black-btn {
                        margin-left: 10%;
                    }

                    .black-btn {
                        width: 60%;
                    }
                }
            }
        }

        .white-wine {
            .bottle {
                .bottle-img {
                    margin: 120px -110px;
                    -moz-transform: scale(.8, .8);
                    -ms-transform: scale(.8, .8);
                    -o-transform: scale(.8, .8);
                    -webkit-transform: scale(.8, .8);
                    transform: scale(.8, .8);
                }
            }

            .description {
                .descr-part {
                    h3,
                    .types,
                    .black-btn {
                        margin-right: 10%;
                    }

                    .black-btn {
                        width: 60%;
                    }
                }
            }
        }

        .ivent-calendar {
            .calendar,
            .calendar-news {
                margin-left: 5%;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .red-wine-page,
    .white-wine-page {
        .red-sort {
            .all-sorts {
                .name {
                    margin-right: 40px;
                }
            }
        }
    }

    .home-page {
        .home-bck1 {
            height: 240px;
        }
    }
}

@media screen and (max-width: 1400px) {
    section.intro {
        .logo-headline {
            top: 40%;
            right: -85px;
            left: auto;
            -moz-transform: scale(0.5);
            -ms-transform: scale(0.5);
            -o-transform: scale(0.5);
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }
    }

    section.footer {
        .footer-container {
            .pages-container {
                display: block;
            }
        }
    }

    .home-page {
        .red-wine {
            .description {
                .descr-part {
                    left: 50%;
                    -moz-transform: translateY(-50%) translateX(-50%);
                    -ms-transform: translateY(-50%) translateX(-50%);
                    -o-transform: translateY(-50%) translateX(-50%);
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
                    width: 80%;

                    .black-btn {
                        width: 100%;
                    }

                    .black-btn,
                    h3 {
                        margin-left: 0;
                    }

                    h3 {
                        margin-bottom: 20px;
                    }

                    .red-line {
                        margin-left: 0;
                    }
                }
            }

            .bottle {
                .bottle-img {
                    margin: 80px -220px;
                    -moz-transform: scale(.6, .6);
                    -ms-transform: scale(.6, .6);
                    -o-transform: scale(.6, .6);
                    -webkit-transform: scale(.6, .6);
                    transform: scale(.6, .6);
                }
            }
        }

        .white-wine {
            .description {
                .descr-part {
                    left: 50%;
                    -moz-transform: translateY(-50%) translateX(-50%);
                    -ms-transform: translateY(-50%) translateX(-50%);
                    -o-transform: translateY(-50%) translateX(-50%);
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
                    width: 80%;

                    .black-btn {
                        width: 100%;
                    }

                    .black-btn,
                    h3,
                    .types {
                        margin-right: 0;
                    }

                    h3 {
                        margin-bottom: 20px;
                    }

                    .red-line {
                        margin-right: 0;
                    }
                }
            }

            .bottle {
                .bottle-img {
                    margin: 120px -110px;
                }
            }
        }
    }

    .red-wine-page,
    .white-wine-page {
        .sort-content {
            .content-position {
                left: 10%;
            }
        }
    }

    .territory-page {
        .fauna {
            .right-box {
                .text-wrapper {
                    margin-left: 5%;

                    p {
                        width: 95%;
                    }
                }
            }
        }

        .flora,
        .climate {
            .left-box {
                .text-wrapper {
                    margin-right: 5%;

                    p {
                        width: 95%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .default-wrapper {
        width: 90%;
    }

    section.footer {
        .footer-container {
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    .home-page {
        .home-bck1 {
            height: 200px;
        }

        .ivent-calendar {
            .calendar,
            .calendar-news {
                margin-left: 3%;
            }

            .calendar-img {
                width: 38%;
            }
        }
    }

    .red-wine-page,
    .white-wine-page {
        .red-sort {
            .sort-bottle {
                height: 80%;
                background-size: cover;
            }
        }

        .sort-content {
            .content-position {
                .temp,
                .degrees {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .winery-page {
        .text-part {
            .position {
                margin-left: 10%;
            }
        }

        .winery-location {
            .position {
                margin-right: 10%;
            }
        }
    }

    .vineyards-page {
        .land {
            .text-part {
                .land-position {
                    margin-right: 10%;

                    .content {
                        width: 90%;
                    }
                }
            }
        }
    }

    .visit-winery-page {
        section.contact {
            .contact-info-wrapper {
                width: 90%;
            }
        }
    }

    .actualities-page {
        .ivent-calendar {
            .calendar {
                margin-left: 3%;
            }
        }

        .second-section,
        .fourth-section,
        .sixth-section {
            .calendar {
                margin-right: 3%;
            }
        }
    }

    .territory-page {
        .info {
            background-position: center left;

            .text-wrapper {
                margin: 0;

                p {
                    width: 90%;
                }
            }
        }
    }

    .wines-page {
        .wine-selection {
            .red-wine,
            .white-wine {
                .wine-position {
                    top: 60%;
                }
            }
        }
    }

    .hamburger-menu {
        .hamburger-nav {
            .hamburger-container.open-menu {
                width: 33%;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        top: 30px;
        left: 30px;
    }

    section.intro {
        .main-logo {
            top: 30px;
            left: 30px;
        }
    }

    section.footer {
        .copyright {
            margin-top: 30px;
            padding-bottom: 40px;
        }

        .footer-container {
            .contact-form {
                width: 100%;

                p {
                    margin-bottom: 40px;
                }

                input,
                textarea,
                .send-btn {
                    width: 100%;
                }
            }
        }
    }

    .winery-page {
        .idea {
            background: url(../images/winery1-tablet.jpg) -90px 0 no-repeat;
        }

        .production {
            background: url(../images/production.jpg) -38px 0 no-repeat;
        }
    }

    .home-page {
        .home-bck1 {
            height: 164px;
        }

        .slider-home-page {
            .prev-arrow {
                left: 50px;
            }

            .next-arrow {
                right: 50px;
            }
        }

        .hover-section {
            .first-img,
            .second-img,
            .third-img,
            .fourth-img,
            .fifth-img {
                .news {
                    .view-more {
                        margin-bottom: 20px;
                    }
                }
            }

            .first-img {
                background: url(../images/first-section-hover.png) -142px 0 no-repeat;

                &:hover {
                    background: url(../images/first-section.png) -142px 0 no-repeat;
                }
            }

            .third-img {
                background: url(../images/fourth-section-hover.png) -30px 0 no-repeat;

                &:hover {
                    background: url(../images/fourth-section.png) -30px 0 no-repeat;
                }
            }

            .fifth-img {
                background: url(../images/fifth-section-hover.png) 0 0 no-repeat;

                &:hover {
                    background: url(../images/fifth-section.png) 0 0 no-repeat;
                }
            }
        }
    }

    .vineyards-page {
        .vineyards-white-sort {
            .white-wine-img {
                background: url(../images/vineyards2.jpg) right center no-repeat;
            }
        }
    }

    .territory-page {
        .fauna {
            .left-box {
                background: url(../images/fauna-background.jpg) -329px 0 no-repeat;
            }
        }

        .flora {
            .right-box {
                background: url(../images/flora-background.jpg) right center no-repeat;
            }
        }

        .info {
            background: url(../images/territory-background.jpg) -185px 0 no-repeat;
        }
    }

    .wines-page {
        .wine-selection {
            .red-wine {
                .logo {
                    top: 30px;
                    left: 30px;
                }

                .wine-position {
                    top: 55%;

                    .title {
                        margin-bottom: 25px;
                        font-size: 30px;
                    }

                    .red-bottle {
                        background: url('../images/izbor-crno-vino-tablet-landscape.png') center center no-repeat;
                        height: 460px;
                        width: 100%;
                    }

                    .read-more-box {
                        margin-right: 159px;
                        position: relative;
                        top: 10px;
                    }
                }

                .hamburger-menu {
                    .hamburger-nav {
                        .hamburger-container {
                            ul {
                                top: 57%;

                                li {
                                    line-height: 40px;

                                    &.selected {
                                        .grey-line {
                                            margin-top: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .hamburger-btn {
                        top: 50%;
                    }

                    .label {
                        top: 50%;
                    }
                }
            }

            .white-wine {
                .wine-position {
                    top: 56%;

                    .title {
                        margin-bottom: 0;
                        font-size: 30px;
                    }

                    .white-bottle {
                        width: 232px;
                        background: url('../images/izbor-belo-vino-tablet-landscape.png') center center no-repeat;
                        height: 470px;
                    }

                    .read-more-box {
                        margin-left: 170px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    #fullpage {
        .name-position {
            display: none;
        }

        .all-sorts {
            top: 39%;
        }

        .freska-crvena {
            left: 6%;

            .freska-crvena-bottle {
                height: 671px;
                -moz-transform: scale(.7);
                -ms-transform: scale(.7);
                -o-transform: scale(.7);
                -webkit-transform: scale(.7);
                transform: scale(.7);
            }
        }

        .portugizer {
            left: 5%;

            .portugizer-bottle {
                -moz-transform: scale(.7);
                -ms-transform: scale(.7);
                -o-transform: scale(.7);
                -webkit-transform: scale(.7);
                transform: scale(.7);
            }
        }
    }

    .change-text {
        .content-position {
            left: 85px;
            width: 75%;

            .name-wine {
                margin-bottom: 5px;
                font-size: 34px;
            }

            .subtitle {
                margin-bottom: 25px;
                font-size: 24px;
            }

            .text {
                margin-bottom: 12px;
                font-size: 13px;
            }

            .temp {
                margin: 0 0 20px 0;
            }

            .degrees {
                margin: 0 0 20px 25px;
            }
        }
    }

    .letter-position {
        &.f-red {
            top: 2%;
            left: 48%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &.f-white {
            top: 7%;
            left: 48%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &.letter-portugizer {
            top: 0;
            left: 50%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &.sardone-letter {
            top: 10%;
            left: 51%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &.traminac-letter {
            top: 6%;
            left: 51%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }

        &.sovinjon-letter {
            top: 9%;
            left: 49%;
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    .red-wine-page {
        .sort-content {
            .stamp-big {
                bottom: -118px;
                right: -124px;
                -moz-transform: scale(.5);
                -ms-transform: scale(.5);
                -o-transform: scale(.5);
                -webkit-transform: scale(.5);
                transform: scale(.5);
            }
        }
    }

    #fullpage-white {
        .name-position {
            display: none;
        }

        .all-sorts {
            top: 36%;
        }

        .change-text {
            .content-position {
                bottom: 110px;
            }
        }
    }

    .freska-bela {
        top: 2%;
        left: 4%;

        .freska-bela-bottle {
            -moz-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            -webkit-transform: scale(.7);
            transform: scale(.7);
        }
    }

    .sardone {
        top: 27.5%;
        left: 4%;

        .sardone-bottle {
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }
    }

    .traminac {
        top: 52%;
        left: 4%;

        .traminac-bottle {
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }
    }

    .sovinjon {
        top: 78%;
        left: 4%;

        .sovinjon-bottle {
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
            transform: scale(0.7);
        }
    }

    .white-wine-page {
        .sort-content {
            .stamp-big {
                transform: scale(.5);
                bottom: -115px;
                right: -130px;
            }
        }
    }

    .visit-winery-page {
        section.about {
            .default-wrapper {
                width: 90%;
            }
        }
    }

    .actualities-page {
        .ivent-calendar {
            .calendar-news {
                padding: 0 15px;
            }

            .calendar {
                margin: 0 15px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .home-page {
        .ivent-calendar {
            .calendar-img {
                display: none;
            }

            .calendar-news {
                width: 58%;

                .title {
                    line-height: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    section.footer {
        .footer-container {
            display: table;
            margin: 0 auto;
            padding: 95px 0 0 0;

            .footer-logo {
                margin: 0 auto;
                display: table;
            }

            .social-icons {
                margin-bottom: 70px;
                -webkit-justify-content: center;
                justify-content: center;

                .facebook {
                    margin-right: 0;
                }
            }

            .pages {
                display: none;
            }

            .contact-info {
                p,
                .title {
                    text-align: center;
                }

                p {
                    margin-bottom: 30px;
                }

                .contact-box {
                    -webkit-justify-content: center;
                    justify-content: center;
                }
            }

            .contact-form {
                width: 100%;
                margin: 70px auto 0;
                display: table;

                p {
                    display: none;
                }
            }
        }

        .copyright {
            text-align: center;
            line-height: 22px;
        }
    }

    .home-page {
        .home-bck1 {
            height: 164px;
        }
    }
}

@media screen and (max-width: 768px) {
    .wines-page {
        .wine-selection {
            .mobile-display {
                display: block;

                .red-wine,
                .white-wine {
                    width: 100%;
                    height: 50% !important;
                }
            }

            .red-wine {
                .hamburger-menu {
                    .hamburger-nav {
                        .hamburger-container {
                            left: auto;
                            right: 0;

                            &.open-menu {
                                width: 50%;
                                left: auto;
                                right: 0;
                            }

                            ul {
                                top: 40%;
                            }
                        }
                    }

                    .hamburger-btn {
                        top: 62px;
                        left: 88%;
                    }

                    .label {
                        display: none;
                    }
                }

                .wine-position {
                    height: 100%;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                    top: 0;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;

                    .title {
                        margin-right: 0;
                        width: 170px;
                    }

                    .read-more-box {
                        margin-right: 0;
                        width: 202px;
                    }

                    .red-bottle {
                        height: 100%;
                        width: 110px;
                    }
                }
            }

            .white-wine {
                .wine-position {
                    height: 100%;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: space-around;
                    justify-content: space-around;
                    direction: rtl;
                    top: 0;
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;

                    .title {
                        margin-left: 0;
                        width: 130px;
                    }

                    .read-more-box {
                        margin-left: 0;
                        width: 202px;
                    }

                    .white-bottle {
                        height: 100%;
                        width: 120px;
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .actualities-page {
        .ivent-calendar {
            .calendar-news {
                width: 70%;
            }

            .calendar-img {
                &.first,
                &.second,
                &.third,
                &.fourth,
                &.fifth,
                &.sixth {
                    display: none;
                }
            }
        }
    }

    .winery-page {
        .location-section,
        .idea-section,
        .production-section {
            display: table;
        }

        .idea {
            background: url(../images/winery1-tablet.jpg) left center no-repeat;
            background-size: cover;
        }

        .idea,
        .text-part,
        .location,
        .production {
            width: 100%;
        }

        .production-text {
            height: 480px !important;
        }

        .text-part {
            height: 720px;
        }

        .winery-location {
            height: 590px;
        }

        .welcome-to-winary {
            .position-content {
                .content {
                    width: 95%;
                }
            }
        }
    }

    .territory-page {
        .info {
            position: relative;
            width: 100%;
            height: 740px;
            background: none;

            .tablet-img {
                width: 100%;
                height: 740px;
                background: url(../images/territory-background.jpg) -185px 0 no-repeat;
                opacity: .5;
            }

            .text-wrapper {
                left: 5%;

                .title,
                .subtitle {
                    text-align: center;
                }

                p {
                    width: 95%;
                    text-align: center;
                    line-height: 25px;
                }
            }
        }

        .flora {
            .left-box {
                height: 410px;
            }
        }

        .flora,
        .climate {
            display: table;

            .text-wrapper {
                margin-right: 0;
                text-align: center;
                width: 95%;
            }

            .right-box,
            .left-box {
                width: 100%;
            }

            .left-box {

                .text-wrapper {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }

        .fauna {
            display: table;

            .text-wrapper {
                margin-right: 0;
                text-align: center;
                width: 95%;
            }

            .right-box,
            .left-box {
                width: 100%;
            }

            .right-box {
                height: 680px;

                .text-wrapper {
                    .title {
                        width: 95%;
                    }
                }
            }

            .left-box {
                background: url(../images/fauna-background.jpg) center center no-repeat;

                .text-wrapper {
                    margin-left: 0;

                    .title {
                        text-align: center;
                    }

                    p {
                        line-height: 25px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .vineyards-page {
        .vineyards-black-sort {
            .text-part {
                .black-wine-position {
                    margin-right: 30px;
                }
            }
        }

        .vineyards-white-sort {
            .text-part {
                .white-wine-position {
                    margin-left: 30px;
                }
            }
        }

        .vineyards {
            .content {
                width: 90%;
            }
        }

        .land {
            display: table;

            .text-part {
                height: 560px;
            }

            .land-img,
            .text-part {
                width: 100%;
            }
        }
    }

    section.intro {
        .logo-headline {
            top: 46%;
            right: 0;
            left: 0;
        }

        nav {
            display: none;
        }

        .hamburger-nav-mobile {
            display: block;
            position: relative;

            .hamburger-container {
                height: 100%;
                left: auto;
                right: 0;

                &.open-menu {
                    width: 60%;
                }

                ul {
                    top: 40%;

                    li {
                        line-height: 17px;

                        &:hover,
                        &.selected {
                            .grey-line {
                                margin-top: 6px;
                            }
                        }
                    }
                }
            }
        }

        .hamburger-menu-mobile {
            display: block;

            .menu-nav-overlay {
                z-index: 1;
            }

            .label {
                display: none;
            }

            .hamburger-btn {
                top: 62px;
                left: 88%;
            }
        }
    }

    .visit-winery-page {
        .visit-winery-page {
            section.about {
                .default-wrapper {
                    width: 95%;
                }
            }
        }

        section.contact {
            .contact-info-wrapper {
                .icon {
                    width: 40px;
                    height: 55px;
                    border: none;
                }
            }
        }
    }

    .home-page {
        .home-bck1 {
            height: 250px;
        }

        .red-wine {
            .bottle {
                width: 50%;

                .bottle-img {
                    &.freska {
                        height: 740px;
                        width: 100%;
                        margin: 0;
                        background: url('../images/freska-crvena.png') center center no-repeat;
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }

            .description {
                width: 50%;
            }
        }

        .white-wine {
            .bottle {
                width: 50%;

                .bottle-img {
                    &.freska-white {
                        height: 740px;
                        width: 100%;
                        margin: 0;
                        background: url('../images/freska-bela.png') center center no-repeat;
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        -o-transform: scale(1);
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }

            .description {
                width: 50%;
            }
        }
    }

    .red-wine-page,
    .white-wine-page {
        .tablet-position {
            display: block;

            .red-sort {
                position: absolute;
                width: 100%;
                height: 50% !important;
            }

            .sort-content {
                position: static;
                width: 100%;
            }
        }

        .scroll-down {
            display: none;
        }
    }

    #fullpage {
        .freska-crvena,
        .portugizer {
            left: 50%;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .freska-crvena {
            top: 0;
        }

        .portugizer {
            top: 48%;
        }

        .all-sorts {
            top: 0;
            left: 100%;
        }

        .change-text {
            float: none;
            width: 100%;

            .content-position {
                bottom: -200px;
                left: 0;
                width: 90%;
                margin: 0 auto;

                .text {
                    font-size: 14px;
                    line-height: 18px;
                }

                .degrees,
                .percentage {
                    font-size: 30px;
                }

                .alcohol {
                    margin-bottom: 0;
                }

                .read-more-box {
                    margin-top: 20px;
                }
            }
        }

        .letter-position {
            &.f-red {
                top: 47%;
                left: -50px;
            }

            &.letter-portugizer {
                top: 45%;
                left: -33px;
            }
        }
    }

    #fullpage-white {
        .freska-bela,
        .sardone,
        .traminac,
        .sovinjon {
            left: 50%;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .freska-bela {
            top: 0;
        }

        .sardone {
            top: 23%;
        }

        .traminac {
            top: 49%;
        }

        .sovinjon {
            top: 73%;
        }

        .all-sorts {
            top: 0;
            left: 100%;
        }

        .change-text {
            float: none;
            width: 100%;

            .content-position {
                bottom: -155px;
                left: 0;
                width: 90%;
                margin: 0 auto;

                .text {
                    font-size: 14px;
                    line-height: 18px;
                }

                .degrees,
                .percentage {
                    font-size: 30px;
                }

                .alcohol {
                    margin-bottom: 0;
                }

                .read-more-box {
                    margin-top: 20px;
                }
            }
        }

        .letter-position {
            &.f-white {
                top: 46%;
                left: -50px;
            }

            &.sardone-letter {
                top: 46%;
                left: -30px;
            }

            &.traminac-letter {
                top: 46%;
                left: -18px;
            }

            &.sovinjon-letter {
                top: 46%;
                left: -50px;
            }
        }
    }
}
