/*#region Constants */
/*#endregion */
/*#region Mixins */
/*#endregion */
@media screen and (max-width: 1600px) {
  .home-page .red-wine .bottle .bottle-img {
    margin: 120px -110px;
    transform: scale(0.8, 0.8);
  }
  .home-page .red-wine .description .descr-part h3,
  .home-page .red-wine .description .descr-part .red-line,
  .home-page .red-wine .description .descr-part .black-btn {
    margin-left: 10%;
  }
  .home-page .red-wine .description .descr-part .black-btn {
    width: 60%;
  }
  .home-page .white-wine .bottle .bottle-img {
    margin: 120px -110px;
    transform: scale(0.8, 0.8);
  }
  .home-page .white-wine .description .descr-part h3,
  .home-page .white-wine .description .descr-part .types,
  .home-page .white-wine .description .descr-part .black-btn {
    margin-right: 10%;
  }
  .home-page .white-wine .description .descr-part .black-btn {
    width: 60%;
  }
  .home-page .ivent-calendar .calendar,
  .home-page .ivent-calendar .calendar-news {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1500px) {
  .red-wine-page .red-sort .all-sorts .name,
  .white-wine-page .red-sort .all-sorts .name {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1400px) {
  section.intro .logo-headline {
    top: 40%;
    right: -85px;
    left: auto;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  section.footer .footer-container .pages-container {
    display: block;
  }
  .home-page .red-wine .description .descr-part {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
  }
  .home-page .red-wine .description .descr-part .black-btn {
    width: 100%;
  }
  .home-page .red-wine .description .descr-part .black-btn,
  .home-page .red-wine .description .descr-part h3 {
    margin-left: 0;
  }
  .home-page .red-wine .description .descr-part h3 {
    margin-bottom: 20px;
  }
  .home-page .red-wine .description .descr-part .red-line {
    margin-left: 0;
  }
  .home-page .red-wine .bottle .bottle-img {
    margin: 80px -220px;
    transform: scale(0.6, 0.6);
  }
  .home-page .white-wine .description .descr-part {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 80%;
  }
  .home-page .white-wine .description .descr-part .black-btn {
    width: 100%;
  }
  .home-page .white-wine .description .descr-part .black-btn,
  .home-page .white-wine .description .descr-part h3,
  .home-page .white-wine .description .descr-part .types {
    margin-right: 0;
  }
  .home-page .white-wine .description .descr-part h3 {
    margin-bottom: 20px;
  }
  .home-page .white-wine .description .descr-part .red-line {
    margin-right: 0;
  }
  .home-page .white-wine .bottle .bottle-img {
    margin: 120px -110px;
  }
  .red-wine-page .sort-content .content-position,
  .white-wine-page .sort-content .content-position {
    left: 10%;
  }
  .territory-page .fauna .right-box .text-wrapper {
    margin-left: 5%;
  }
  .territory-page .fauna .right-box .text-wrapper p {
    width: 95%;
  }
  .territory-page .flora .left-box .text-wrapper,
  .territory-page .climate .left-box .text-wrapper {
    margin-right: 5%;
  }
  .territory-page .flora .left-box .text-wrapper p,
  .territory-page .climate .left-box .text-wrapper p {
    width: 95%;
  }
}
@media screen and (max-width: 1300px) {
  .default-wrapper {
    width: 90%;
  }
  section.footer .footer-container {
    flex-wrap: wrap;
  }
  .home-page .ivent-calendar .calendar,
  .home-page .ivent-calendar .calendar-news {
    margin-left: 3%;
  }
  .home-page .ivent-calendar .calendar-img {
    width: 38%;
  }
  .red-wine-page .red-sort .sort-bottle,
  .white-wine-page .red-sort .sort-bottle {
    height: 80%;
    background-size: cover;
  }
  .red-wine-page .sort-content .content-position .temp,
  .white-wine-page .sort-content .content-position .temp,
  .red-wine-page .sort-content .content-position .degrees,
  .white-wine-page .sort-content .content-position .degrees {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .winery-page .text-part .position {
    margin-left: 10%;
  }
  .winery-page .winery-location .position {
    margin-right: 10%;
  }
  .vineyards-page .land .text-part .land-position {
    margin-right: 10%;
  }
  .vineyards-page .land .text-part .land-position .content {
    width: 90%;
  }
  .visit-winery-page section.contact .contact-info-wrapper {
    width: 90%;
  }
  .actualities-page .ivent-calendar .calendar {
    margin-left: 3%;
  }
  .actualities-page .second-section .calendar,
  .actualities-page .fourth-section .calendar,
  .actualities-page .sixth-section .calendar {
    margin-right: 3%;
  }
  .territory-page .info {
    background-position: center left;
  }
  .territory-page .info .text-wrapper {
    margin: 0;
  }
  .territory-page .info .text-wrapper p {
    width: 90%;
  }
  .wines-page .wine-selection .red-wine .wine-position,
  .wines-page .wine-selection .white-wine .wine-position {
    top: 60%;
  }
  .hamburger-menu .hamburger-nav .hamburger-container.open-menu {
    width: 33%;
  }
}
@media screen and (max-width: 1024px) {
  section.footer .copyright {
    margin-top: 30px;
    padding-bottom: 40px;
  }
  section.footer .footer-container .contact-form {
    width: 100%;
  }
  section.footer .footer-container .contact-form p {
    margin-bottom: 40px;
  }
  section.footer .footer-container .contact-form input,
  section.footer .footer-container .contact-form textarea,
  section.footer .footer-container .contact-form .send-btn {
    width: 100%;
  }
  .change-text .content-position {
    left: 25px;
    width: 90%;
  }
  .change-text .content-position .text {
    font-size: 16px;
  }
  .change-text .content-position .temp {
    margin: 0 0 40px 0;
  }
  .change-text .content-position .degrees {
    margin: 0 0 40px 25px;
  }
  .winery-page .idea {
    background: url(../images/winery1-tablet.jpg) -90px 0 no-repeat;
  }
  .winery-page .production {
    background: url(../images/production.jpg) -38px 0 no-repeat;
  }
  .home-page .slider-home-page .prev-arrow {
    left: 50px;
  }
  .home-page .slider-home-page .next-arrow {
    right: 50px;
  }
  .home-page .hover-section .first-img {
    background: url(../images/first-section-hover.png) -142px 0 no-repeat;
  }
  .home-page .hover-section .first-img:hover {
    background: url(../images/first-section.png) -142px 0 no-repeat;
  }
  .home-page .hover-section .third-img {
    background: url(../images/fourth-section-hover.png) -30px 0 no-repeat;
  }
  .home-page .hover-section .third-img:hover {
    background: url(../images/fourth-section.png) -30px 0 no-repeat;
  }
  .home-page .hover-section .fifth-img {
    background: url(../images/fifth-section-hover.png) 0 0 no-repeat;
  }
  .home-page .hover-section .fifth-img:hover {
    background: url(../images/fifth-section.png) 0 0 no-repeat;
  }
  .vineyards-page .vineyards-white-sort .white-wine-img {
    background: url(../images/vineyards2.jpg) right center no-repeat;
  }
  .territory-page .fauna .left-box {
    background: url(../images/fauna-background.jpg) -329px 0 no-repeat;
  }
  .territory-page .flora .right-box {
    background: url(../images/flora-background.jpg) right center no-repeat;
  }
  .territory-page .info {
    background: url(../images/territory-background.jpg) -185px 0 no-repeat;
  }
}
@media screen and (max-width: 1000px) {
  .home-page .ivent-calendar .calendar-img {
    display: none;
  }
  .home-page .ivent-calendar .calendar-news {
    width: 58%;
  }
  .home-page .ivent-calendar .calendar-news .title {
    line-height: 30px;
  }
}
@media screen and (max-width: 850px) {
  section.footer .footer-container {
    display: table;
    margin: 0 auto;
    padding: 95px 0 0 0;
  }
  section.footer .footer-container .footer-logo {
    margin: 0 auto;
    display: table;
  }
  section.footer .footer-container .social-icons {
    margin-bottom: 70px;
    -webkit-justify-content: center;
    justify-content: center;
  }
  section.footer .footer-container .social-icons .facebook {
    margin-right: 0;
  }
  section.footer .footer-container .pages {
    display: none;
  }
  section.footer .footer-container .contact-info p,
  section.footer .footer-container .contact-info .title {
    text-align: center;
  }
  section.footer .footer-container .contact-info p {
    margin-bottom: 30px;
  }
  section.footer .footer-container .contact-info .contact-box {
    -webkit-justify-content: center;
    justify-content: center;
  }
  section.footer .footer-container .contact-form {
    width: 100%;
    margin: 70px auto 0;
    display: table;
  }
  section.footer .footer-container .contact-form p {
    display: none;
  }
  section.footer .copyright {
    text-align: center;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  .visit-winery-page section.about .default-wrapper {
    width: 95%;
  }
  .winery-page .location-section,
  .winery-page .idea-section,
  .winery-page .production-section {
    display: table;
  }
  .winery-page .idea {
    background: url(../images/winery1-tablet.jpg) left center no-repeat;
    background-size: cover;
  }
  .winery-page .idea,
  .winery-page .text-part,
  .winery-page .location,
  .winery-page .production {
    width: 100%;
  }
  .winery-page .production-text {
    height: 480px !important;
  }
  .winery-page .text-part {
    height: 720px;
  }
  .winery-page .winery-location {
    height: 590px;
  }
  .winery-page .welcome-to-winary .position-content .content {
    width: 95%;
  }
  .territory-page .info {
    position: relative;
    width: 100%;
    height: 740px;
  }
  .territory-page .info .text-wrapper {
    left: 5%;
  }
  .territory-page .info .text-wrapper .title,
  .territory-page .info .text-wrapper .subtitle {
    text-align: center;
  }
  .territory-page .info .text-wrapper p {
    width: 95%;
    text-align: center;
    line-height: 25px;
  }
  .territory-page .flora .left-box {
    height: 410px;
  }
  .territory-page .flora,
  .territory-page .climate {
    display: table;
  }
  .territory-page .flora .text-wrapper,
  .territory-page .climate .text-wrapper {
    margin-right: 0;
    text-align: center;
    width: 95%;
  }
  .territory-page .flora .right-box,
  .territory-page .climate .right-box,
  .territory-page .flora .left-box,
  .territory-page .climate .left-box {
    width: 100%;
  }
  .territory-page .flora .left-box .text-wrapper,
  .territory-page .climate .left-box .text-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  .territory-page .fauna {
    display: table;
  }
  .territory-page .fauna .text-wrapper {
    margin-right: 0;
    text-align: center;
    width: 95%;
  }
  .territory-page .fauna .right-box,
  .territory-page .fauna .left-box {
    width: 100%;
  }
  .territory-page .fauna .right-box {
    height: 680px;
  }
  .territory-page .fauna .right-box .text-wrapper .title {
    width: 95%;
  }
  .territory-page .fauna .left-box {
    background: url(../images/fauna-background.jpg) center center no-repeat;
  }
  .territory-page .fauna .left-box .text-wrapper {
    margin-left: 0;
  }
  .territory-page .fauna .left-box .text-wrapper .title {
    text-align: center;
  }
  .territory-page .fauna .left-box .text-wrapper p {
    line-height: 25px;
    text-align: center;
  }
  .vineyards-page .vineyards-black-sort .text-part .black-wine-position {
    margin-right: 30px;
  }
  .vineyards-page .vineyards-white-sort .text-part .white-wine-position {
    margin-left: 30px;
  }
  .vineyards-page .vineyards .content {
    width: 90%;
  }
  section.intro .logo-headline {
    top: 46%;
    right: 0;
    left: 0;
  }
  section.intro nav {
    display: none;
  }
  section.intro .hamburger-nav-mobile {
    display: block;
    position: relative;
  }
  section.intro .hamburger-nav-mobile .hamburger-container {
    height: 100%;
    left: auto;
    right: 0;
  }
  section.intro .hamburger-nav-mobile .hamburger-container.open-menu {
    width: 500px;
  }
  section.intro .hamburger-nav-mobile .hamburger-container ul {
    top: 40%;
  }
  section.intro .hamburger-nav-mobile .hamburger-container ul li {
    line-height: 17px;
  }
  section.intro .hamburger-nav-mobile .hamburger-container ul li:hover .grey-line,
  section.intro .hamburger-nav-mobile .hamburger-container ul li.selected .grey-line {
    margin-top: 6px;
  }
  section.intro .hamburger-menu-mobile {
    display: block;
  }
  section.intro .hamburger-menu-mobile .menu-nav-overlay {
    z-index: 1;
  }
  section.intro .hamburger-menu-mobile .label {
    display: none;
  }
  section.intro .hamburger-menu-mobile .hamburger-btn {
    top: 8%;
    left: 88%;
  }
  .visit-winery-page section.contact .contact-info-wrapper .icon {
    width: 40px;
    height: 55px;
    border: none;
  }
  .home-page .home-bck1 {
    height: 250px;
  }
  .home-page .red-wine .bottle {
    width: 50%;
  }
  .home-page .red-wine .bottle .bottle-img.freska {
    height: 740px;
    width: 100%;
    margin: 0;
    background: url('../images/freska-crvena.png') center center no-repeat;
    transform: scale(1);
  }
  .home-page .red-wine .description {
    width: 50%;
  }
  .home-page .white-wine .bottle {
    width: 50%;
  }
  .home-page .white-wine .bottle .bottle-img.freska-white {
    height: 740px;
    width: 100%;
    margin: 0;
    background: url('../images/freska-bela.png') center center no-repeat;
    transform: scale(1);
  }
  .home-page .white-wine .description {
    width: 50%;
  }
}