/*#region Constants */
/*#endregion */
/*#region Mixins */
/*#endregion */
@media screen and (max-width: 1024px) {
  section.contact .contact-info-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  section.intro .logo-headline {
    width: 300px;
  }
  section.contact .contact-info-wrapper {
    height: auto;
    padding-top: 40px;
    flex-wrap: wrap-reverse;
  }
  section.contact .contact-card {
    bottom: 465px;
  }
  .contact-info-wrapper .envelope,
  .contact-info-wrapper .cell {
    margin: 15px 0;
  }
  section.contact .contact-info-wrapper .number,
  section.contact .contact-info-wrapper .mail {
    display: table;
    width: 100%;
  }
  section.contact .contact-info-wrapper .icon {
    display: table;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  section.contact .contact-info-wrapper .text {
    display: table;
    width: 100%;
    margin: 10px 0 10px;
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  section.about h3 {
    font-size: 1.8em;
  }
  section.about p {
    font-size: 1em;
  }
  section.about p:nth-child(2) {
    margin-top: 100px;
  }
  section.contact .contact-card {
    width: 300px;
    height: 300px;
    bottom: 425px;
  }
  section.contact .contact-info-wrapper .icon {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 350px) {
  section.about h3 {
    font-size: 1.6em;
  }
  section.contact .contact-card {
    width: 250px;
    height: 250px;
  }
  section.contact .contact-card .main-logo {
    position: relative;
    top: -20px;
    width: 100px;
    height: auto;
  }
  section.contact .contact-card .name {
    margin: -15px 0 15px;
    font-size: 1em;
  }
  section.contact .contact-card .adress {
    font-size: 0.7em;
  }
}