/*#region Constants */
/*#endregion */
/*#region Mixins */
/*#endregion */
@media screen and (max-width: 1400px) {
  section.intro .logo-headline {
    top: 15px;
    right: -85px;
    left: auto;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  section.footer .footer-container .pages-container {
    display: block;
  }
}