@import "_variables.less";

/*temp styles. move to main.less before deployment*/

/*#region Wines*/
.territory-page {
    .info {
        width: 100%;
        height: 740px;
        background: url('../images/territory-background.jpg') center center no-repeat;
        background-size: cover;

        .text-wrapper {
            width: 50%;
            padding: 10%;
        }
    }
}

/*#endregion*/
