/*#region Constants */
/*#endregion */
/*#region Mixins */
/*#endregion */
/*temp styles. move to main.less before deployment*/
/*#region Wines*/
.territory-page .info {
  position: relative;
  width: 100%;
  height: 740px;
  background: url('../images/territory-background.jpg') center center no-repeat;
  background-size: cover;
}
.territory-page .info .text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-left: 110px;
}
.territory-page .info .text-wrapper .title {
  margin-bottom: 10px;
  font-size: 36px;
  font-family: 'Minion Pro-Regular';
  color: #333;
}
.territory-page .info .text-wrapper .subtitle {
  margin-bottom: 25px;
  font-size: 28px;
  font-family: 'NK124';
  color: #888;
}
.territory-page .info .text-wrapper p {
  width: 81%;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 18px;
  font-family: 'TenorSans';
  color: #333;
}
.territory-page .flora {
  width: 100%;
  height: 733px;
}
.territory-page .flora .left-box {
  position: relative;
  width: 50%;
  height: 733px;
}
.territory-page .flora .left-box .text-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 110px;
  text-align: right;
}
.territory-page .flora .left-box .text-wrapper .title {
  margin-bottom: 10px;
  font-size: 36px;
  font-family: 'Minion Pro-Regular';
  color: #333;
}
.territory-page .flora .left-box .text-wrapper .subtitle {
  margin-bottom: 25px;
  font-size: 28px;
  font-family: 'NK124';
  color: #888;
}
.territory-page .flora .left-box .text-wrapper p {
  width: 81%;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: right;
  font-size: 18px;
  font-family: 'TenorSans';
  color: #333;
}
.territory-page .flora .right-box {
  width: 50%;
  height: 733px;
  background: url('../images/flora-background.jpg') center center no-repeat;
  background-size: cover;
}
/*#endregion*/